// above iPad in portrait
@media only screen and (min-device-width : 769px){
	.above_ipad_p_hide{
		display: none !important;
	}
}

// iPad in portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	#mobile_menu{
		.mobile_menu_inner{
			.menu_item{
				a{
					font-size: 30px;
				}
			}
		}
		.mobile_menu_social{
			bottom: 50px;
			left: 50px;
		}
		.mobile_menu_logo{
			width: 280px;
		}
	}
	.work_slider.off{
		height: auto;
	}
	.box{
		min-height: 0;
		height: auto !important;
		margin-bottom: 15px;
	}
	#mobile_menu .mobile_menu_inner .menu_item.active a::after{
		top: 18px;
	}
	.btn-line .btn-line-text{
		font-size: 14px;
	}
	body .box_overlap_img{
		width: 100%;
		margin-left: 0;
	}
	.top{
		.top_inner{
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			&::after,
			&::before{
				border-color: transparent !important;
			}
		}
		.top_text{
			left: 0;
			bottom: 90px;
			width: 100%;
			padding: 0 15px;
			h1{
				font-size: 20vw;
				line-height: 21vw;
			}
		}
		.top_bottom{
			padding-bottom: 10px;
			.row.z10{
				margin-left: 0;
				margin-right: 0;
			}
			.btn-line{
				width: 100%;
				max-width: 100%;
				margin-bottom: 15px;
			}
		}
		&.halfHeight{
			height: 450px;
			.top_text{
				bottom: 80px;
				h1{
				    font-size: 12vw;
				    line-height: 14vw;
				}
			}
		}
		.mobile_hide{
			display: none !important;
		}
	}
	.contact_form_row {
		.contact_form{
			padding: 0 15px !important;
		}
	}
	.top.halfHeight .top_text.ipad_btm_smaller{
		bottom: 10px;
	}
	#menu_btn,
	#mobile_top{
		display: block !important;
	}
	footer{
		// .desktop_hide{
		// 	display: block !important;
		// }
		// .mobile_hide{
		// 	display: none !important;
		// }
	}
	.qualifications_imgs{
		img{
			width: 32.33333333%;
			display: inline-block;
			padding: 0 15px;
			margin-top: 0 !important;
		}
	}
	.ipad_p_pr_15{
		padding-right: 15px !important; 
	}
	.ipad_p_mb_5{
		margin-bottom: 3rem !important
	}
}
// above iPad in portrait
@media only screen and (max-device-width : 768px){
	.below_ipad_p_hide{
		display: none !important;
	}
}