@media only screen and (max-width : 767px){
	.btn,
	.btn-primary{
		max-width: 1000px;
	}
	.dash-btn{
		font-size: 0.8rem;
	}
	#menu{
		.menu_item{
			&:hover{
				p{
					color: $darkgrey;
				}
			}
		}
	}
}