html{

  .animated {
    will-change: transform;
  }

  .animated.animated__initial {
    animation-play-state: paused;
    opacity: 0;
  }

  .animated.animated__active {
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
  }
}
.hover-underline{
  position: relative;
  cursor: pointer !important;
  &.hover-underline-primary{
    &:after{
      background-color: $primary;
    }
  }
  &.hover-underline-white{
    &:after{
      background-color: $white;
    }
  }
  &:after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: $primary;
    bottom: -5px;
    left: 0;
    border-radius: 10px;
    @include transition(300ms);
    
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}
.pulse{
  animation: pulse ease-in-out 0s infinite;
}
.scroll-fade{
  opacity: 0;
  @include transition(300ms);
}
.zoomIn{
  opacity: 1;
}
.lds-roller {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $green;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
#loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $transbluedark;
  display: table;
  opacity: 0;
  z-index: -1;
  @include transition(300ms);
  .vert-mid{
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
    display: table-cell;
    .card{
      width: 100%;
      max-width: 500px;
      margin: auto;
      color: $darkgrey;
    }
  }
  &.on{
    opacity: 1;
    z-index: 3000;
  }
  #loader-message{
    font-weight: 600;
    font-family: $title;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 15px;
  }
}
.loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $transwhite;
  display: table;
  opacity: 1;
  z-index: 10;
  @include transition(300ms);
  .lds-roller div:after {
    background: $primary;
  }
  &.off{
    opacity: 0;
    z-index: -1;
  }
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.scroll-indicator {
  position: absolute;
  left: calc(50% - 1px);
  bottom: -50px;
  
  .scroll {
    width: 2px;
    height: 120px;
    background-color: #ccc;
    position: relative;
    overflow: hidden;
    
    .scroll-line {
      width: 100%;
      height: 100%;
      display: block;
      background: linear-gradient(to bottom, $lightgrey 50%, $darkgrey 50%);
      background-position: 0 -120px;
      background-size: 100% 200%;
      animation: scrolldown 2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
    }
  }
  span {
    position: absolute;
    width: 150px;
    left: calc(50% - 75px);
    text-align: center;
    color: $white;
    top: -25px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@keyframes scrolldown {
  0%{
    background-position: 0 -120px;
  }
  75% {
    background-position: 0 0;
  }
  100%{
    background-position: 0 120px;
  }
}
@-webkit-keyframes pulser {
 0% {
   transform: scale(1.0);
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
 }
 50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
 }
 100% {
   transform: scale(1.0);
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
 }
}
@-webkit-keyframes bouncer {
  0% {
   transform: translate(0, -35px) skew(0.06turn, -18deg);
   -webkit-transform: translate(0, -35px) skew(0.06turn, -18deg);
   -moz-transform: translate(0, -35px) skew(0.06turn, -18deg);
   }
   50% {
     transform:  translate(0, 35px) skew(-0.06turn, 18deg);
     -webkit-transform:  translate(0, 35px) skew(-0.06turn, 18deg);
     -moz-transform:  translate(0, 35px) skew(-0.06turn, 18deg);
   }
   100% {
     transform:  translate(0, -35px) skew(0.06turn, -18deg);
     -webkit-transform:  translate(0, -35px) skew(0.06turn, -18deg);
     -moz-transform:  translate(0, -35px) skew(0.06turn, -18deg);
   }
}
@-webkit-keyframes bouncer2 {
  0% {
    transform: translate(0, -35px) skewY(-5deg);
    -webkit-transform: translate(0, -35px) skewY(-5deg);
    -moz-transform: translate(0, -35px) skewY(-5deg);
   }
   50% {
    transform:  translate(0, 50px) skewY(5deg);
    -webkit-transform:  translate(0, 50px) skewY(5deg);
    -moz-transform:  translate(0, 50px) skewY(5deg);
   }
   100% {
    transform:  translate(0, -35px) skewY(-5deg);
    -webkit-transform:  translate(0, -35px) skewY(-5deg);
    -moz-transform:  translate(0, -35px) skewY(-5deg);
   }
}
@-webkit-keyframes skewer {
 0% {
   transform: skew(0);
   -webkit-transform: skew(0);
   -moz-transform: skew(0);
 }
 20% {
   transform: skew(-0.06turn, 18deg);
   -webkit-transform: skew(-0.06turn, 18deg);
   -moz-transform: skew(-0.06turn, 18deg);
 }
 80% {
   transform: skew(0.06turn, -18deg);
   -webkit-transform: skew(0.06turn, -18deg);
   -moz-transform: skew(0.06turn, -18deg);
 }
 100% {
   transform: skew(0);
   -webkit-transform: skew(0);
   -moz-transform: skew(0);
 }
}
@-webkit-keyframes smallbouncer {
  0% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
  }
  50% {
    transform: translate(0, 20px);
    -webkit-transform: translate(0, 20px);
    -moz-transform: translate(0, 20px);
    transform-origin: 0% 20%;
    -webkit-transform-origin: 0% 20%;
    -moz-transform-origin: 0% 20%;
  }
  100% {
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
  }
}