.no-webp{
	.footer-top{
		background-image: url('/img/bg/footer-top.jpg');
	}
	#map{
		background-image: url('/img/bg/belfast.jpg');
	}
}
.webp{
	.footer-top{
		background-image: url('/img/bg/footer-top.webp');
	}
	#map{
		background-image: url('/img/bg/belfast.webp');
	}
}

.bg{
	@include background();
}
.bg-contain{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
.dark-bg{
	background-color: $navy;
}
.bg-green{
	background-color: $green !important;
}
.bg-blue{
	background-color: $primary !important;
}
.bg-fixed{
	background-attachment: fixed;
}
.bg-light{
	background-color: $lightbg !important;
}
.home-top-bg{
	position: absolute !important;
  top: -45vw;
  right: -30vw;
  width: 90vw;
  height: 90vw;
  z-index: 0;
}
.home-top-circle{
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	z-index: 0;
	&.swell{
		@include transition(300ms);
		animation: swell 15s ease infinite;
	}
}
.page-top-grad{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	background: rgb(14,69,129);
	background: linear-gradient(180deg, #8DC3FF, #005ABB, #3131b8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}
.profile-top{
	padding: 200px 0 0;
	background: rgb(14,69,129);
	background: linear-gradient(90deg, #3131b8, #005ABB, #3131b8);
	background-size: 400% 400%;
	animation: gradient2 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}
@keyframes gradient2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes swell {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}