.btn{
	display: block;
	border-radius: 5px;
	font-family: $body;
	border:0 !important;
	display: inline-block;
	position: relative;
	width: 100%;
	height: 50px;
	font-size: 1rem;
	font-weight: 600;
	padding: 13px 20px;
	max-width: 262px;
	@include transition(300ms);
	&.w-100{
		max-width: 100000px;
	}
	&.btn-icon{
		text-align: left !important;
		i{
			position: absolute;
			right: 15px;
			top: 17px;
			font-size: 1rem;
			@include transition(300ms);
		}
		&:hover{
			transform: none !important;
			i{
				right: 10px;
			}
		}
	}
	&:hover{
		transform: scale(1.02);
	}
}
.btn-primary{
	background-color: $primary;
	color: $white;
	&:hover{
		background-color: $primary;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-green{
	background-color: $green;
	color: $white;
	&:hover{
		background-color: $green;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-white{
	background-color: $white;
	color: $primary;
	&:hover{
		background-color: $white;
		color: $primary !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $primary;
	}
}
.btn-red{
	background-color: $red;
	color: $white;
	&:hover{
		background-color: $red;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}
.btn-yellow{
	background-color: $yellow;
	color: $white;
	&:hover{
		background-color: $yellow;
		color: $white !important;
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
}