#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.primary-line{
	border-top: 2px solid $primary;
}
.green-line{
	border-top: 2px solid $green;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.search-page{
	min-height: 100vh;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.line{
	width: 100px;
	height: 4px;
	background-color: $green;
	display: inline-block;
}
.rounded-box{
	border-radius: 5px;
}
.card{
	border-radius:5px;
}
.full-height{
	height: 100vh;
}
.modal{
	background-color: rgba(2,105,221, 0.8);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transwhite;
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.1rem;
	h1{
		font-size: 2rem;
	}
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
#map{
	position: absolute;
	top: 100px;
	right: 0;
	width: 45vw;
	height: calc(100vh - 100px);
	@include background();
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(300ms);
		}
		&.product-image{
			height: 100%;
			max-height: inherit;
			img{
				position: relative;
			}
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.rounded-image{
	border-radius: 5px;
	overflow: hidden;
}
.shadow{
	@include boxShadow();
}
.profile-title{
	position: relative;
	padding-left: 200px;
	.avatar{
		position: absolute;
		left: 0;
		top: -3rem;
		border: 2px solid #005ABB;
		border-radius: 100%;
		overflow: hidden;
		text-align: center;
		width: 170px;
		height: 170px;
		img{
			width: 100%;
		}
	}
	.job-title{
		h1{
			font-size: 2rem;
			color: $white;
		}
	}
}
.home-middle-circle{
  position: absolute;
  left: -840px;
  width: 800px;
}
.mob-home-top{
	right: -1rem;
  position: absolute;
  width: calc(100vw + 1rem);
}