// footer{
//     color: #ffffff;
//     .footer-bg{
//       position: absolute !important;
//       bottom: -21px;
//       left: -30vw;
//       width: 160vw;
//       height: 100%;
//       z-index: 0;
//       background-image: url('/img/graphics/wave.svg');
//       background-size: 100% 100%;
//       background-position: -10% top;
//       background-repeat: no-repeat;
//     }
//     a{
//       cursor: pointer;
//       color: #ffffff;
//       &:hover{
//         color: #5CCC4A;
//       }
//     }
//     p{
//       font-size: 1.0rem;
//     }
//     img{
//       max-width: 100%;
//     }
//     .footer-social{
//       font-size: 25px;
//     }
//     .menu_logo{
//       width:150px;
//     }
//   }
//   .footer-inner{
//     border-top: 2px solid #fff;
//   }
//   .footer-top{
//     background-size: 100%;
//     background-position: top right;
//     background-repeat: no-repeat;
//     .footer-overlap{
//       margin-top: -540px;
//       &.team-overlap{
//         margin-top: -420px;
//       }
//     }
//   }