// Menu  --------------------
#menu_btn,
.menu_btn{
	position: fixed;
  top: 1rem;
  right: 0.5rem;
	z-index: 1100;
	cursor: pointer;
	display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding: 12px 7px;
  @include boxShadow();
	@include transition(300ms);
	.nav-icon {
		width: 30px;
		height: 30px;
		position: relative;
		z-index: 110;
		cursor: pointer;
		@include transition(300ms);
		span {
			display: block;
			position: absolute;
			border-radius: 10px;
			height: 4px;
			width: 100%;
			background: $primary;
			opacity: 1;
			right: 0;
			cursor: pointer;
			@include transition(300ms);
		}
		span:nth-child(1) {
			top: 0px;
		}
		span:nth-child(2) {
			top: 9px; 
			@include transition(300ms);
		}
		span:nth-child(3) {
			top: 18px; 
			width: 60%;
		}
		&.nav_open{
			span {
				border-radius: 10px;
				background: $primary;
			}
			span:nth-child(1) {
				top: 9px !important;
				-webkit-transform: rotate(135deg) !important;
				-moz-transform: rotate(135deg) !important;
				-o-transform: rotate(135deg) !important;
				transform: rotate(135deg) !important; 
			}
			span:nth-child(2) {
				opacity: 0 !important;
				left: 20vw !important; 
			}
			span:nth-child(3) {
				width: 100%;
				top: 9px !important;
				-webkit-transform: rotate(-135deg) !important;
				-moz-transform: rotate(-135deg) !important;
				-o-transform: rotate(-135deg) !important;
				transform: rotate(-135deg) !important; 
			}
		}
	}
	&:hover{
		.nav-icon{
			span:nth-child(3) {
				width: 100%;
			}
		}
	}
	&.on{
		background-color: #e83e8c;
	}
	&.dark{
		.nav-icon {
			span {
				background: $primary;
			}
		}
	}
}
.light{
	#menu_btn{
		.nav-icon {
			span {
				background: $primary;
			}
		}
	}
}
#app.white{
	.menu{
		.menu-links{
			.menu-item{
				color: $darkgrey;
				font-family: $body;
			}
		}
	}
}
.menu-holder{
	position: relative;
	z-index: 100;
}
#main-menu-top{
	z-index: 250;
}
#scroll-menu{
	background-color: $white;
	position: fixed;
	top: -500px;
	left: 0;
	z-index: 200;
	width: 100%;
	@include menuBoxShadow();
	@include transition(300ms);
	.menu_logo{
		width: 168px;
		&.menu_logo_normal{
			width: 168px;
		}
	}
	.menu-links{
		.menu-item{
			display: inline-block;
			margin-left: 2.5rem;
			cursor: pointer;
			color: $darkgrey;
			font-family: $body;
			font-weight: 700;
			font-size: 1rem;
			@include transition(300ms);
			a{
				color: $primary;
				&:hover{
					color: $green;
				}
			}
			&:hover,
			&.active{
				color: $green !important;
			}
		}
	}
	&.on{
		top: 0;
	}
}
.menu{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	.menu_logo{
		width: 168px;
		&.menu_logo_normal{
			width: 168px;
		}
	}
	.bg-gradient a {
	  color: $white!important;
	  &:hover{
	  	color: $darkgrey !important;
	  }
	}
	.menu-links{
		.menu-item{
			display: inline-block;
			margin-left: 2.5rem;
			cursor: pointer;
			color: $white;
			font-family: $body;
			text-transform: capitalize;
			font-weight: 700;
			font-size: 1rem;
			@include transition(300ms);
			a{
				color: $primary;
				&:hover{
					color: $green;
				}
			}
			i{
				font-size: 1.2rem;
				margin-left: 10px;
			}
			&:hover,
			&.active{
				color: $green !important;
			}
		}
	}
	&.opacity{
		opacity: 0;
	}
}
#main-menu{
	position: absolute;
	top: 0;
	left: 0;
}
.close-menu{
	cursor: pointer;
	@include transition(300ms);
	max-width: 20px;
	&:hover{
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
}
#menu-trigger{
	position: absolute;
	top: 100vh;
	left: 0;
	width: 1px;
	height: 1px;
}
#menu_body_hide{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $primary;
	display: table;
	opacity: 0;
	z-index: -1;
	@include transition(300ms);
	&.on{
		opacity: 0.9;
		z-index: 220;
	}
}
.mobile-menu{
	position: fixed;
	top: 0;
	right: -150vw;
	width: 320px;
	height: 100vh;
	background-color: $body-bg;
	color: $darkgrey;
	padding-left: 1rem;
	z-index: 1000;
	@include menuBoxShadow();
	@include transition(300ms);
	.menu-links{
		.menu-item{
			display: block;
			cursor: pointer;
			color: $darkgrey;
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 0.75rem !important;
			display: inline-block;
			@include transition(300ms);
			a{
				color: $darkgrey;
				&:hover{
					color: $green;
				}
			}
			i{
				font-size: 1.2rem;
				margin-left: 10px;
			}
		}
	}
	.menu_logo{
		position: absolute;
		top: 1rem;
		left: 2rem;
		z-index: 100;
	}
	&.on{
		right: 0;
	}
}
.basket-count{
	position: relative;
	display:inline;
	cursor:pointer;
	span{
		position: absolute;
		top: -9px;
    right: -12px;
		display: inline-block;
		border-radius: 100%;
		background-color: $green;
		color:#fff;
		text-align:center;
		width:14px;
		height:14px;
		font-size:9px;
	}
}