<template>
  <v-form ref="form" v-model="valid" :lazy-validation="lazy">
    <v-container relative>
      <v-row>
        <v-col cols="12">
          <h3>Update your Avatar</h3>
        </v-col>
        <v-col cols="12">
          <p>This image will appear at the top of your dashboard and in the forum</p>
          <v-file-input label="Featured Image" outlined dense required show-size ref="file" :rules="imageRules" accept="image/*" v-model="file"></v-file-input>
        </v-col>
        <v-col cols="12" class="pt-5 text-right" reltaive>
          <v-btn :disabled="!valid" color="primary" @click="submit"><v-icon small left>mdi-plus</v-icon>Upload</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    props:{
      avatar: String,
    },
    data() {
      return {
        imageRules: [
          value => !value || value.size < 2000000 || 'Image size should be less than 2 MB',
        ],
        valid: true,
        fields: {
          image: this.avatar,
        },
        file: "",
        files: null,
        lazy: false,
        errors: {},
        success: false,
        loaded: true,
      }
    },
    methods: {
      checkInputs(){
        if(
          this.fields.image != ""
          ){
          document.getElementById("submit").disabled = false;
        }else{
          document.getElementById("submit").disabled = true;
        }
      },
      onFileChange(e){
        var files = e.target.files || e.dataTransfer.files;
        if (!files.length)
        return;
        this.createImage(files[0]);
        this.file = files[0];
      },
      createImage(file) {
        var image = new Image();
        var reader = new FileReader();
        reader.onload = (e) => {
          this.fields.image = e.target.result;
          this.checkInputs();
        };
        reader.readAsDataURL(file);
      },
      removeImage: function (e) {
        this.fields.image = '';
      },
      clickInput() {
        document.getElementById('image').click();
      },
      submit() {
        this.$emit('showLoader');
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();

          formData.append('image', this.file);

          axios.post('/account/avatar/update', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.fields = {};
            this.loaded = true;
            this.success = true;
            // Turn off loader animation and reirect user to destination page
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'success', 'message':'Avatar Updated successfully'});
            window.location.reload();
          })
          .catch(error => {
            // Error handling
            console.log(error.response);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
        }
      },
    },
  }
</script>
<style lang="scss">
.file-input-holder,
.image-preview{
  img{
    width: 100%;
  }
}
</style>