<template>
  <v-container relative>
    <v-form v-model="valid" ref="form">
      <v-row>
        <v-col cols="12">
          <h3>Change your password</h3>
        </v-col>
        <v-col cols="12" md="4">
        	<v-text-field
            v-model="fields.current_password"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="Current Password"
            hint="At least 8 characters"
            counter
            @click:append="show1 = !show1"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
        	<v-text-field
            v-model="fields.password"
            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show2 ? 'text' : 'password'"
            name="input-10-1"
            label="New Password"
            hint="At least 8 characters"
            counter
            @click:append="show2 = !show2"
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
        	<v-text-field
            v-model="fields.password_confirmation"
            :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show3 ? 'text' : 'password'"
            name="input-10-1"
            label="Confirm New Password"
            hint="At least 8 characters"
            counter
            @click:append="show3 = !show3"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-spacer></v-spacer>
        <v-col cols="6" md="3" lg="2" class="text-right">
          <v-btn color="primary" rounded @click="submit()">Update</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
<script>
	export default {
		props:{
			user: Object,
		},
		watch:{
			user: function (value1, value2) {}
		},
		data() {
      return {
      	valid: false,
        loaded: true,
        show1: false,
        show2: false,
        show3: false,
      	fields:{
      		current_password: '',
      		password: '',
      		password_confirmation: '',
      	},
      	rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match'),
        }
			}
		},
	  methods:{
	  	submit() {
        if (this.loaded) {
          this.$emit('showLoader');
          this.loaded = false;
          this.errors = {};

          let formData = new FormData();
          formData.append('current_password', this.fields.current_password);
          formData.append('password', this.fields.password);
          formData.append('password_confirmation', this.fields.password_confirmation);

          axios.post('/account/password/update', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'success', 'message':'Password updated successfully'});
            this.$refs.form.reset();
            window.scroll({
						  top: 0, 
						  left: 0, 
						  behavior: 'smooth'
						});
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error.response);
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'error', 'message':"Something wasn't right with your password, please try again."});
            window.scroll({
						  top: 0, 
						  left: 0, 
						  behavior: 'smooth'
						});
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
        }
      },
	  }
	}
</script>