<template>
  <v-container relative id="business-details" v-if="loaded">
    <v-form v-model="valid">
      <v-row>
        <v-col cols="12">
          <h3>Your Business Details</h3>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="details.name"
            :rules="nameRules"
            label="Business Name"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
        	<v-select
	          :items="industries"
	          item-text="title"
          	item-value="id"
          	v-model="details.industry"
	          label="Select Industry"
	        ></v-select>
	      </v-col>
	      <v-col cols="12">
          <vue-editor :editorToolbar="customToolbar" v-model="details.description"></vue-editor>
        </v-col>
      </v-row>
      <v-row>
        <v-spacer></v-spacer>
        <v-col cols="6" md="3" lg="2" class="text-right">
          <v-btn color="primary" rounded @click="submit()">Update</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
<script>
  import { VueEditor } from "vue2-editor";
	export default {
		props:{
			employer: Object,
		},
    components: {
      VueEditor,
    },
		watch:{
			employer: function (value1, value2) {}
		},
		data() {
      return {
        customToolbar: [["bold", "italic", "underline"], [{ list: "bullet" }]],
      	valid: false,
        loaded: false,
      	details:{
      		name: this.employer.name,
      		industry: this.employer.industry_id,
      		description: this.employer.description
      	},
      	industries: [],
	      nameRules: [
	        v => !!v || 'Name is required',
	        v => v.length >= 2 || 'Name must have more than 2 characters',
	      ],
			}
		},
    mounted(){
      this.getIndustries();
    },
	  methods:{
	  	getIndustries(){
	  		this.$emit('showLoader');
				axios.get('/industries/get',{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          // Empty fields and enable success message
          this.loaded = true;

          this.industries = response.data;

          // this.industries = industriesArray;
          console.log(this.industries);
          this.$emit('hideLoader');
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
          this.$emit('hideLoader');
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
	  	},
	  	submit() {
        if (this.loaded) {
          this.$emit('showLoader');
          this.loaded = false;
          this.errors = {};

          let formData = new FormData();
          formData.append('name', this.details.name);
          formData.append('industry', this.details.industry);
          formData.append('description', this.details.description);

          axios.post('/employer/update', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'success', 'message':'Buisness details updated successfully'});
            this.backToTop();
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'error', 'message':'There was an error updating your business details'});
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
        }
      },
      backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			}
	  }
	}
</script>
<style lang="scss">
	.v-select-list .v-list-item__title{
		color: #000 !important;
	}
  .quillWrapper{
    color: #000 !important;
    p, ul, b, u{
      color: #000 !important;
    }
  }
</style>