<template>
  <v-container>
    <v-row>
      <v-card light class="py-5 px-5">
        <v-row class="mb-5">
          <v-col cols="12" class="text-center py-4">
            <h2 class="text-dark">Select your avatar:</h2>
          </v-col>
          <v-col class="d-flex child-flex" cols="4" lg="2" v-for="(a, i) in avatars" :key="i">
            
              <v-avatar elevation="3" class="d-inline-block avatar-img" size="90" @click="selectAvatar(a)">
                <v-hover v-slot="{ hover }">
                  <v-img :src="a.normal" aspect-ratio="1">
                    <v-expand-transition>
                      <div
                        v-if="hover"
                        class="d-flex transition-fast-in-fast-out primary v-card--reveal display-3 white--text cursor-pointer"
                        style="height: 100%;width:100%;"
                      >
                        <v-icon dark>mdi-check-circle</v-icon>
                      </div>
                    </v-expand-transition>
                  </v-img>
                </v-hover>
                <v-badge
                  bordered
                  bottom
                  color="primary"
                  dot
                  offset-x="20"
                  offset-y="20"
                  v-if="a.id == avatar"
                ></v-badge>
              </v-avatar>
            
          </v-col>
        </v-row>
        <v-btn
          color="primary"
          dark
          absolute
          top
          right
          fab
          @click="close()"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    props:{
      employee: Object,
    },
    data() {
      return {
        avatars: [],
        avatar: this.employee.avatar_id,
        errors: {},
        success: false,
        loaded: true,
      }
    }, 
    mounted(){
      this.getAvatars();
    },
    methods: {
      close(){
        this.$emit('closeOverlay');
      },
      getAvatars(){
        axios.get('/avatars/get')
        .then(response => {
          // Empty fields and enable success message
          this.avatars = response.data;
          this.loaded = true;
        })
        .catch(error => {
          // Error handling
          console.log(error.response);
          this.loaded = true;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
      },
      selectAvatar(av) {
        const selectedAvatar = av;
        this.$emit('showLoader');
        if (this.loaded) {

          this.loaded = false;
          this.success = false;
          this.errors = {};

          let formData = new FormData();

          formData.append('avatar', selectedAvatar.id);

          axios.post('/account/avatar/update', formData)
          .then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.success = true;

            this.avatar = av.id;
            this.$emit('avatarUpdated', selectedAvatar);
            // Turn off loader animation and reirect user to destination page
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'success', 'message':'Avatar Updated successfully'});
          })
          .catch(error => {
            // Error handling
            console.log(error.response);
            this.loaded = true;
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
        }
      },
    },
  }
</script>
<style lang="scss">
.file-input-holder,
.image-preview{
  img{
    width: 100%;
  }
}
</style>