<template>
  <v-container relative id="employee-details" v-if="employee">
    <v-form v-model="valid" v-if="jobs">
      <v-row>
        <v-col cols="12">
          <h3>Your Profile</h3>
        </v-col>
        <v-col cols="12" v-if="attributes != null && attributes.length > 0">
          <p><b>Please select all that apply to you:</b></p>
          <v-row class="row">
            <v-col cols="6" lg="3" class="pb-0" v-for="a in attributes">
              <v-checkbox
                class="mt-0"
                v-model="details.attributes"
                :label="a.title"
                :id="'attributes'+a.id"
                :value="a.id"
              ></v-checkbox>
            </v-col>
          </v-row>
        </v-col >
        <v-col cols="12" md="4">
        	<v-select
	          :items="jobs"
	          item-text="title"
          	item-value="id"
          	v-model="details.job"
	          label="Select Job"
	        ></v-select>
	      </v-col>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="details.job_title"
            :rules="jobtitleRules"
            label="Job Title"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="4">
          <v-menu
            ref="menu"
            v-model="menu"
            :close-on-content-click="false"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateFormatted"
                label="Date of Birth"
                append-icon="mdi-calendar"
                v-bind="attrs"
                @blur="date = parseDate(dateFormatted)"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              ref="picker"
              v-model="details.date"
              :max="new Date().toISOString().substr(0, 10)"
              min="1950-01-01"
              @change="save"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" md="6">
          <v-select
            :items="statuses"
            item-text="title"
            item-value="slug"
            v-model="details.status"
            label="Profile Visibility"
          ></v-select>
        </v-col>
        <v-col cols="12" md="6">
          <v-select
            :items="salaries"
            item-text="title"
            item-value="slug"
            v-model="details.expected_salary"
            label="Expected Salary"
          ></v-select>
        </v-col>
        <v-col cols="12" md="6">
          <v-select
            :items="experiences"
            item-text="title"
            item-value="slug"
            v-model="details.experience"
            label="Experience"
          ></v-select>
        </v-col>
        <v-col cols="12" md="6">
          <v-select
            :items="workingpatterns"
            item-text="title"
            item-value="slug"
            v-model="details.working_pattern"
            label="Working Pattern"
          ></v-select>
        </v-col>
	      <v-col cols="12">
          <vue-editor :editorToolbar="customToolbar" v-model="details.description"></vue-editor>
        </v-col>
      </v-row>
      <v-row>
        <v-spacer></v-spacer>
        <v-col cols="6" md="3" lg="2" class="text-right">
          <v-btn color="primary" rounded @click="submit()">Update</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
<script>
  import { VueEditor } from "vue2-editor";
	export default {
		props:{
			employee: Object,
		},
    components: {
      VueEditor,
    },
    computed: {
      computedDateFormatted () {
        return this.formatDate(this.details.date)
      },
    },
		watch:{
			employee: function (value1, value2) {},
      menu (val) {
        val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
      },
		},
		data() {
      return {
        attributes: null,
        
        dateFormatted: this.formatDate(new Date(this.employee.dob).toISOString().substr(0, 10)),
        menu: false,
        customToolbar: [["bold", "italic", "underline"], [{ list: "bullet" }]],
      	valid: false,
        loaded: true,
        jobs: [],
        jobtitleRules: [
          v => !!v || 'Name is required',
          v => v.length >= 2 || 'Name must have more than 2 characters',
        ],
        statuses: [{ title: "Show my profile", slug: "show" },{ title: "Hide my profile", slug: "hide" }],
        salaries: [
          { title: "£15,000 - £20,000", slug: "£15,000 - £20,000" },
          { title: "£20,000 - £25,000", slug: "£20,000 - £25,000" },
          { title: "£25,000 - £30,000", slug: "£25,000 - £30,000" },
          { title: "£30,000 - £35,000", slug: "£30,000 - £35,000" },
          { title: "£35,000 - £40,000", slug: "£35,000 - £40,000" },
          { title: "£40,000 - £50,000", slug: "£40,000 - £50,000" },
          { title: "£50,000 - £60,000", slug: "£50,000 - £60,000" },
          { title: "£60,000 - £70,000", slug: "£60,000 - £70,000" },
          { title: "£70,000 - £80,000", slug: "£70,000 - £80,000" },
          { title: "£80,000 - £90,000", slug: "£80,000 - £90,000" }
        ],
        workingpatterns: [
          { title: "Full Time", slug: "Full Time" },
          { title: "Part Time", slug: "Part Time" }
        ],
        experiences: [],
      	details:{
          date: new Date(this.employee.dob).toISOString().substr(0, 10),
          attributes: [],
          job: this.employee.job_id,
          job_title: this.employee.job_title,
          expected_salary: this.employee.expected_salary,
          experience: this.employee.experience,
          working_pattern: this.employee.working_pattern,
          avatar: this.employee.avatar_id,
      		status: this.employee.status,
      		description: this.employee.description
      	},
      }
		},
    mounted(){
      for(var x = 0; x <= 60; x++){
        this.experiences.push( { title:  x + " Years", slug: x + " Years" } );
      }
      this.getJobs();
      this.getAttributes();
      console.log(window.user);
    },
	  methods:{
      getAttributes(){
        axios.get('/attributes/get').then(response => {
          this.attributes = response.data;
          this.loaded = true;
          for(let x = 0; x <= window.user.employee.attributes.length; x++){
            this.details.attributes.push(window.user.employee.attributes[x].id);
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      },
      formatDate (date) {
        if (!date) return null

        const [year, month, day] = date.split('-')
        return `${month}/${day}/${year}`
      },
      parseDate (date) {
        if (!date) return null

        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
      save (date) {
        this.$refs.menu.save(date);
        this.details.dateFormatted = this.formatDate(new Date(date).toISOString().substr(0, 10));
        console.log(this.details.date);
      },
	  	getJobs(){
	  		this.$emit('showLoader');
				axios.get('/jobs/get',{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          // Empty fields and enable success message
          this.loaded = true;

          this.jobs = response.data;
          this.$emit('hideLoader');
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
          this.$emit('hideLoader');
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
	  	},
	  	submit() {
        if (this.loaded) {
          this.$emit('showLoader');
          this.loaded = false;
          this.errors = {};

          axios.post('/employee/update', this.details)
          .then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'success', 'message':'Profile updated successfully'});
            this.backToTop();
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'error', 'message':'There was an error updating your profile'});
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
        }
      },
      backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			}
	  }
	}
</script>
<style lang="scss">
	.v-select-list .v-list-item__title{
		color: #000 !important;
	}
  .quillWrapper{
    color: #000 !important;
    p, ul, b, u{
      color: #000 !important;
    }
  }
</style>