<template>
  <v-container relative>
    <v-form v-model="valid">
      <v-row>
        <v-col cols="12">
          <h3>Update your info</h3>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="account.first_name"
            :rules="nameRules"
            label="First name"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="account.last_name"
            :rules="nameRules"
            label="Last name"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="account.email"
            :rules="emailRules"
            label="E-mail"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            v-model="account.phone"
            label="Phone"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-spacer></v-spacer>
        <v-col cols="6" md="3" lg="2" class="text-right">
          <v-btn color="primary" rounded @click="submit()">Update</v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
<script>
	export default {
		props:{
			user: Object,
		},
		watch:{
			user: function (value1, value2) {}
		},
		data() {
      return {
      	valid: false,
        loaded: true,
      	account:{
      		first_name: this.user.first_name,
      		last_name: this.user.last_name,
      		email: this.user.email,
          phone: this.user.phone,
      	},
      	emailRules: [
	        v => !!v || 'E-mail is required',
	        v => /.+@.+/.test(v) || 'E-mail must be valid',
	      ],
	      nameRules: [
	        v => !!v || 'Name is required',
	        v => v.length >= 2 || 'Name must have more than 2 characters',
	      ],
			}
		},
	  methods:{
	  	submit() {
        if (this.loaded) {
          this.$emit('showLoader');
          this.loaded = false;
          this.errors = {};

          let formData = new FormData();
          formData.append('first_name', this.account.first_name);
          formData.append('last_name', this.account.last_name);
          formData.append('email', this.account.email);
          formData.append('phone', this.account.phone);

          axios.post('/account/update', formData,{
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then(response => {
            // Empty fields and enable success message
            this.loaded = true;
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'success', 'message':'Account updated successfully'});
          })
          .catch(error => {
            // Error handling
            this.loaded = true;
            console.log(error);
            this.$emit('hideLoader');
            this.$emit('showAlert', {'type':'error', 'message':'There was an error updating your account'});
            if (error.response.status === 422) {
              this.errors = error.response.data.errors || {};
            }
          });
        }
      },
	  }
	}
</script>