<template>
	<v-container>
		<v-row class="" v-if="favourites">
			<v-col cols="6">
				<h2>Favourites</h2>
			</v-col>
			<v-col cols="col-6" class="text-right" v-if="favourites.length > 0">
				<router-link :to="{ name: 'Favourites' }" v-on:click.native="backToTop()">
					<v-btn small rounded color="primary" right class="mt-2">View all<v-icon right>mdi-chevron-right</v-icon></v-btn>
				</router-link>
			</v-col>
			<v-col cols="12" class="d-lg-none">
				<p><v-icon right color="primary" class="mr-3">mdi-arrow-left-right</v-icon> Slide table right for more info</p>
			</v-col>
			<v-col cols="12" v-if="favourites.length > 0">
				<v-simple-table>
			    <template v-slot:default>
			      <thead>
			        <tr>
			        	<th class="text-left">
			          	Status
			          </th>
			          <th class="text-left">
			          	Job Category
			          </th>
			          <th class="text-left">
			          	Job Title
			          </th>
			        	<th class="text-left">
			          	Location
			          </th>
			          <th class="text-left">
			            Expected Salary
			          </th>
			          <th class="text-left">
			            Experience
			          </th>
			          <th class="text-left">
			            Working Pattern
			          </th>
			          <th class="text-right">
			            
			          </th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr v-for="(f,i) in favourites" :key="i">
			        	<td>
			        		<v-tooltip bottom>
			        			<template v-slot:activator="{ on, attrs }">
			        				<span v-bind="attrs" v-on="on">
				        				<v-icon v-if="f.fav" color="primary" @click="unlike(f)">mdi-star</v-icon>
				        				<v-icon v-else color="primary" @click="like(f)">mdi-star-outline</v-icon>
				        			</span>
				        		</template>
			        			<span v-if="f.fav">Remove from favourites</span>
			        			<span v-else>Add to favourites</span>
			        		</v-tooltip>
			        	</td>
			        	<td>{{ f.job.title }}</td>
			        	<td>{{ f.job_title }}</td>
			        	<td>{{ f.user.addresses[0].city }}</td>
			          <td>{{ f.expected_salary }}</td>
			          <td><span v-if="!f.growpro">{{ f.experience }}</span><span v-else>N/A</span></td>
			          <td>{{ f.working_pattern }}</td>
			          <td class="text-right" v-if="user.employer.status =='Approved'">
			          	<a :href="'/find-employees/view/' + f.id" target="_blank"><b>View Profile</b></a>
			          </td>
			        </tr>
			      </tbody>
			    </template>
			  </v-simple-table>
			</v-col>
			<v-col cols="12" v-else>
				<p class="text-dark">Your favourite candidates will appear here. <span v-if="user.employer.status =='Approved'">Search for <a href="/find-employees" target="_blank">employees</a> now to add them to your favourites.</span></p>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
	
	const favouriteCard = () => import(/* webpackChunkName: "favouriteCard" */ '../favourites/favouriteCard.vue');
	export default {
		props:{
			user: Object,
		},
		components: { 
			favouriteCard,
		},
		data() {
      return {
      	favourites: {},
      	options: {
          responsive: [
            {end: 576, size: 1}, 
            {start: 576, end: 768, size: 2},
            {start: 768, end: 992, size: 3},
            {size: 4}
          ],
          list: {
            // 1200 because @media (min-width: 1200px) and therefore I want to switch to windowed mode
            windowed: 1200,
            
            // Because: #app {padding: 80px 24px;}
            padding: 24
          }
        },
			}
		},
		mounted(){
			this.getFavourites();
		},
	  methods:{
	  	getFavourites(){
	  		axios.get('/favourites/get/5').then(response => {
	        this.favourites = response.data.data;
	        this.loaded = true;
	        this.$emit('hideLoader');
	      })
	      .catch(error => {
	        this.$emit('hideLoader');
	        // Error handling
	        console.log(error);
	      });
	  	},
	  	like(employee) {
				axios.get('/employees/favourite/'+employee.id).then(response => {
					employee.fav = true;
	        this.$emit('showAlert', {'type':'success', 'message':'Added to Favourites'});
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error);
	      });
	    },
	    unlike(employee) {
	      axios.get('/employees/unfavourite/'+employee.id).then(response => {
	      	employee.fav = false;
	        this.$emit('showAlert', {'type':'success', 'message':'Removed from favourites'});
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error);
	      });
	    },
	  	calculateAge(dob) { 
		    var diff_ms = Date.now() - dob.getTime();
		    var age_dt = new Date(diff_ms); 
		    var age = Math.abs(age_dt.getUTCFullYear() - 1970);
		    var range;
			  if(age >= 18 && age < 25){
			  	range = "18 - 24";
			  }
			  else if(age >= 25 && age < 30){
			  	range = "25 - 30";
			  }			    
			  else if(age >= 30 && age < 35){
			  	range = "30 - 35";
			  }				    	
			  else if(age >= 35 && age < 40){
			  	range = "35 - 40";
			  }
			  else if(age >= 40 && age < 45){
			  	range = "40 - 45";
			  }
			  else if(age >= 45 && age < 50){
			  	range = "45 - 50";
			  }			    
			  else if(age >= 55 && age < 60){
			  	range = "55 - 60";
			  }		    
			  else if(age >= 60 && age < 65){
					range = "60 - 65";
			  }
			  else if(age >= 65){
			  	range = "65+";
			  }else{
			  	range = "TBC"
			  }
				return range;
			},
			getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
      },
	    backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			}
	  }
	}
</script>
<style lang="scss">
.v-carousel__controls{
	bottom: 76px;
	.v-btn--icon {
	  color: #000 !important;
	}
}
.v-window__next, .v-window__prev{
	    top: 380px;
}
</style>