<template>
	<v-container class="mt-5 pt-5">
		<v-row class="" v-if="employees">
			<v-col cols="6">
				<h2>Enquiries</h2>
			</v-col>
			<v-col cols="col-6" class="text-right" v-if="employees.length > 0">
				<router-link :to="{ name: 'Enquiries' }" v-on:click.native="backToTop()">
					<v-btn small rounded color="primary" right class="mt-2">View all<v-icon right>mdi-chevron-right</v-icon></v-btn>
				</router-link>
			</v-col>
			<v-col cols="12" class="d-lg-none">
				<p><v-icon right color="primary" class="mr-3">mdi-arrow-left-right</v-icon> Slide table right for more info</p>
			</v-col>
			<v-col cols="12" v-if="employees.length > 0">
				<v-simple-table>
			    <template v-slot:default>
			      <thead>
			        <tr>
			        	<th class="text-left">
			          	Status
			          </th>
			          <th class="text-left">
			          	Job Title
			          </th>
			        	<th class="text-left">
			          	Location
			          </th>
			          <th class="text-left">
			            Expected Salary
			          </th>
			          <th class="text-left">
			            Experience
			          </th>
			          <th class="text-left">
			            Working Pattern
			          </th>
			          <th class="text-right">
			            
			          </th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr v-for="(f,i) in employees" :key="i">
			        	<td><p class="mb-0" color="primary"><b>{{ f.enquiries[0].status }}</b></p></td>
			        	<td>{{ f.job.title }}</td>
			        	<td>{{ f.user.addresses[0].city }}</td>
			          <td>{{ f.expected_salary }}</td>
			          <td><span v-if="!f.growpro">{{ f.experience }}</span><span v-else>N/A</span></td>
			          <td>{{ f.working_pattern }}</td>
			          <td class="text-right" v-if="user.employer.status =='Approved'">
			          	<a :href="'/find-employees/view/' + f.id" target="_blank"><b>View Profile</b></a>
			          </td>
			        </tr>
			      </tbody>
			    </template>
			  </v-simple-table>
			</v-col>
			<v-col cols="12" v-else>
				<p class="text-dark">Your enquiries will appear here.<span v-if="user.employer.status =='Approved'"> Search for <a href="/find-employees" target="_blank">employees</a> now and enquire about their suitability.</span></p>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
	export default {
		props:{
			user: Object,
		},
		data() {
      return {
      	employees: {},
			}
		},
		mounted(){
			this.getEnquiries();
		},
	  methods:{
	  	getEnquiries(){
	  		axios.get('/enquiries/get/5').then(response => {
	        this.employees = response.data.data;
	        this.loaded = true;
	        this.$emit('hideLoader');
	      })
	      .catch(error => {
	        this.$emit('hideLoader');
	        // Error handling
	        console.log(error);
	      });
	  	},
	  	calculateAge(dob) { 
		    var diff_ms = Date.now() - dob.getTime();
		    var age_dt = new Date(diff_ms); 
		    var age = Math.abs(age_dt.getUTCFullYear() - 1970);
		    var range;
			  if(age >= 18 && age < 25){
			  	range = "18 - 24";
			  }
			  else if(age >= 25 && age < 30){
			  	range = "25 - 30";
			  }			    
			  else if(age >= 30 && age < 35){
			  	range = "30 - 35";
			  }				    	
			  else if(age >= 35 && age < 40){
			  	range = "35 - 40";
			  }
			  else if(age >= 40 && age < 45){
			  	range = "40 - 45";
			  }
			  else if(age >= 45 && age < 50){
			  	range = "45 - 50";
			  }			    
			  else if(age >= 55 && age < 60){
			  	range = "55 - 60";
			  }		    
			  else if(age >= 60 && age < 65){
					range = "60 - 65";
			  }
			  else if(age >= 65){
			  	range = "65+";
			  }else{
			  	range = "TBC"
			  }
				return range;
			},
			getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
      },
	  }
	}
</script>