<template>
	<div id="checkout-address" class="container py-5">
		<div class="row justify-content-center half_row">
			<div class="col-12 half_col mb-2">
				<h3 class="mb-2">Billing Address</h3>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="streetAddress"><b>Address Line 1*</b></label>
				<input id="streetAddress" class="form-control" type="text" name="streetAddress" placeholder="Address Line 1*" v-model="streetAddress"/>
				<div v-if="errors && errors.streetAddress" class="text-danger">{{ errors.streetAddress }}</div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="extendedAddress"><b>Address Line 2</b></label>
				<input id="extendedAddress" class="form-control" type="text" name="extendedAddress" placeholder="Address Line 2" v-model="extendedAddress"/>
				<div v-if="errors && errors.extendedAddress" class="text-danger">{{ errors.extendedAddress }}</div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="city"><b>City*</b></label>
				<input id="city" class="form-control" type="text" name="city" placeholder="City*" v-model="city"/>
				<div v-if="errors && errors.city" class="text-danger">{{ errors.city }}</div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="postalCode"><b>Postcode*</b></label>
				<input id="postalCode" class="form-control" type="text" name="postalCode" placeholder="Postcode*" v-model="postalCode"/>
				<div v-if="errors && errors.postalCode" class="text-danger">{{ errors.postalCode }}</div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="region"><b>State/Province</b></label>
				<input id="region" class="form-control" type="text" name="region" placeholder="State/Province" v-model="region"/>
				<div v-if="errors && errors.region" class="text-danger">{{ errors.region }}</div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="country"><b>Country*</b></label>
				<div class="select-holder">
					<countries :setcountry="country" @change="changecountry" v-if="country"></countries>
				</div>
				<div v-if="errors && errors.country" class="text-danger">{{ errors.country }}</div>
			</div>
			<div class="col-12 half_col mb-2">
				<hr class="my-5" />
				<h3 class="mb-2">Shipping Address</h3>
			</div>
			<div class="col-md-12 half_col">
				<div class="form-check pl-4">
					<label class="form-check-label" for="same">
				  <input id="same" type="checkbox" name="same" class="form-check-input" v-model="same" />
				    Same as billing address
				  </label>
				</div>
			</div>
			<div class="col-12 half_col" v-if="same != 1">
				<div class="row half-row mt-4">
					<div class="col-md-6 half_col mb-3">
						<label for="shippingstreetAddress"><b>Address Line 1*</b></label>
						<input id="shippingstreetAddress" class="form-control" type="text" name="shippingstreetAddress" placeholder="Address Line 1*" v-model="shippingstreetAddress"/>
						<div v-if="errors && errors.streetAddress" class="text-danger">{{ errors.shippingstreetAddress }}</div>
					</div>
					<div class="col-md-6 half_col mb-3">
						<label for="shippingextendedAddress"><b>Address Line 2</b></label>
						<input id="shippingextendedAddress" class="form-control" type="text" name="shippingextendedAddress" placeholder="Address Line 2" v-model="shippingextendedAddress"/>
						<div v-if="errors && errors.shippingextendedAddress" class="text-danger">{{ errors.shippingextendedAddress }}</div>
					</div>
					<div class="col-md-6 half_col mb-3">
						<label for="shippingcity"><b>City*</b></label>
						<input id="shippingcity" class="form-control" type="text" name="shippingcity" placeholder="City*" v-model="shippingcity"/>
						<div v-if="errors && errors.shippingcity" class="text-danger">{{ errors.shippingcity }}</div>
					</div>
					<div class="col-md-6 half_col mb-3">
						<label for="shippingpostalCode"><b>Postcode*</b></label>
						<input id="shippingpostalCode" class="form-control" type="text" name="shippingpostalCode" placeholder="Postcode*" v-model="shippingpostalCode"/>
						<div v-if="errors && errors.shippingpostalCode" class="text-danger">{{ errors.shippingpostalCode }}</div>
					</div>
					<div class="col-md-6 half_col mb-3">
						<label for="shippingregion"><b>State/Province</b></label>
						<input id="shippingregion" class="form-control" type="text" name="shippingregion" placeholder="State/Province" v-model="shippingregion"/>
						<div v-if="errors && errors.shippingregion" class="text-danger">{{ errors.shippingregion }}</div>
					</div>
					<div class="col-md-6 half_col mb-3">
						<label for="shippingcountry"><b>Country*</b></label>
						<div class="select-holder">
							<countries :setcountry="country" @change="shippingchangecountry" v-if="shippingcountry"></countries>
						</div>
						<div v-if="errors && errors.country" class="text-danger">{{ errors.country }}</div>
					</div>
				</div>
			</div>
			<div class="col-12 half_col">
				<hr class="my-5" />
				<label class="rounded-box bg-primary p-3 mb-3 w-100"for="consent">
					<div class="form-check text-center">
					  <input id="consent" class="form-check-input" type="checkbox" value="1" v-model="consent"/>
					  <label class="form-check-label" for="consent"><p class="mb-0 text-white">I agree to Luce Balloons holding my address details.</p></label>
					  <div v-if="errors && errors.consent" class="text-danger">{{ errors.consent[0] }}</div>
					</div>
				</label>
			</div>
			<div class="col-12 half_col text-center mt-3">
				<button type="button" class="btn btn-primary float-right mob-float-none" @click="confirm()" :disabled="validated == false" >Confirm</button>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	props:{
		fields: Object,
		billing: Object,
		shipping: Object
	},
		data() {
			return {
				same: 1,
				streetAddress: "",
				extendedAddress: "",
				city: "",
				postalCode: "",
				region: "",
				country: "",
				shippingstreetAddress: "",
				shippingextendedAddress: "",
				shippingcity: "",
				shippingpostalCode: "",
				shippingregion: "",
				shippingcountry: "",
				consent: 0,
				errors: {},
				success: false,
				loaded: true,
				validated: false,
				send: {}
      }
		},
		mounted(){
			console.log('test');
			if(this.shipping != null && this.billing != null){
				this.country = this.billing.country;
				this.streetAddress = this.billing.streetAddress;
				this.extendedAddress = this.billing.extendedAddress;
				this.region = this.billing.region;
				this.city = this.billing.city;
				this.postalCode = this.billing.postalCode;
				this.shippingcountry = this.shipping.country;
				this.shippingstreetAddress = this.shipping.streetAddress;
				this.shippingextendedAddress = this.shipping.extendedAddress;
				this.shippingregion = this.shipping.region;
				this.shippingcity = this.shipping.city;
				this.shippingpostalCode = this.shipping.postalCode;
			}else{
				this.country = "GB";
				this.shippingcountry = "GB";
			}
		},
		watch: {
	    streetAddress(value){
	      // binding this to the data value in the email input
	      this.streetAddress = value;
	      this.validate();
	    },
	    postalCode(value){
	    	this.postalCode = value;
	    	this.validate();
	    },
	    city(value){
	    	this.city = value;
	    	this.validate();
	    },
	    consent(val){
	    	this.validate();
	    },
	  },
		methods: {
			changecountry(val){
				this.country = val;
			},
			shippingchangecountry(val){
				this.shippingcountry = val;
			},
			validatestreetAddress(value){
				if(value.length>4){
					this.errors.streetAddress = '';
					return true;
				}else{
					this.errors.streetAddress = 'Address line 1 must be at least 5 characters';
					return false;
				}
			},
			validatepostalCode(value){
				if(value.length>5){
					this.errors.postalCode = '';
					return true;
				}else{
					this.errors.postalCode = 'Postcode must be at least 6 characters';
					return false;
				}
			},
			validatecity(value){
				if(value.length>1){
					this.errors.city = '';
					return true;
				}else{
					this.errors.city = 'City must be at least 2 characters';
					return false;
				}
			},

			validate(){
				if(this.validatestreetAddress(this.streetAddress) && this.validatepostalCode(this.postalCode) && this.validatecity(this.city) && this.consent == 1){
					this.validated = true;
				}else{
					this.validated = false;
				}
			},
			back(){
				this.$emit('back');	
			},
			confirm(){
				this.send.same = this.same;
				this.send.streetAddress = this.streetAddress;
				this.send.extendedAddress = this.extendedAddress;
				this.send.postalCode = this.postalCode;
				this.send.city = this.city;
				this.send.region = this.region;
				this.send.country = this.country;
				this.send.shippingstreetAddress = this.shippingstreetAddress;
				this.send.shippingextendedAddress = this.shippingextendedAddress;
				this.send.shippingpostalCode = this.shippingpostalCode;
				this.send.shippingcity = this.shippingcity;
				this.send.shippingregion = this.shippingregion;
				this.send.shippingcountry = this.shippingcountry;
				this.$emit('selected', {'details':this.send});
			},
    },
  }
</script>
<style lang="scss">
#checkout-address{
	.select-holder{
		border: 0;
		box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
	}
}
</style>