<template>
	<div class="container py-5">
		<div class="row justify-content-center half_row">
			<div class="col-12 half_col mb-2">
				<h3 class="mb-2 text-primary">Personal Details</h3>
				<p class="text-large">Please tell us a little about yourself. <b>If you already have an account, please <a href="/login">login</a> first</b>.</p>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="first_name"><b>First Name*</b></label>
				<input id="first_name" class="form-control" type="text" name="first_name" placeholder="First Name*" v-model="first_name"/>
				<div v-if="detailserrors && detailserrors.first_name" class="text-danger">{{ detailserrors.first_name }}</div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="last_name"><b>Last Name*</b></label>
				<input id="last_name" class="form-control" type="text" name="last_name" placeholder="Last Name*" v-model="last_name"/>
				<div v-if="detailserrors && detailserrors.last_name" class="text-danger">{{ detailserrors.last_name }}</div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="emailaddress"><b>Email Address*</b></label>
				<input id="emailaddress" class="form-control" type="text" name="email" placeholder="Email Address*" v-model="email"/>
				<div v-if="detailserrors && detailserrors.email" class="text-danger mt-2"><span v-html="detailserrors.email"></span></div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="phone"><b>Phone</b></label>
				<input id="phone" class="form-control" type="text" name="phone" placeholder="Phone" v-model="phone"/>
				<div v-if="detailserrors && detailserrors.phone" class="text-danger mt-2"><span v-html="detailserrors.phone"></span></div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="password"><b>Password</b></label>
				<input id="password" class="form-control" type="password" name="password" placeholder="Password*" v-model="password"/>
				<div v-if="detailserrors && detailserrors.password" class="text-danger mt-2"><span v-html="detailserrors.password"></span></div>
			</div>
			<div class="col-md-6 half_col mb-3">
				<label for="password-confirm"><b>Confirm Password</b></label>
				<input id="password-confirm" class="form-control" type="password" name="password_confirmation" placeholder="Confirm Password*" v-model="password_confirmation"/>
				<div v-if="detailserrors && detailserrors.password_confirmation" class="text-danger mt-2"><span v-html="detailserrors.password_confirmation"></span></div>
			</div>
			<div class="col-12 half_col my-4">
				<label class="rounded-box bg-primary p-3 mb-3 w-100" for="consent">
					<div class="form-check text-center">
					  <input id="consent" class="form-check-input" type="checkbox" value="1" v-model="consent"/>
					  <label class="form-check-label" for="consent"><p class="text-white mb-0">I consent to Luce Balloons storing the information provided in this form.</p></label>
					  <div v-if="detailserrors && detailserrors.consent" class="text-danger">{{ detailserrors.consent[0] }}</div>
					</div>
				</label>
			</div>
			<div class="col-12 half_col text-center mt-3">
				<button type="button" class="btn btn-primary float-right mob-float-none" @click="confirm()" :disabled="validated == false" >Continue</button>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	props:{
		fields: Object,
		errors: Object
	},
		data() {
			return {
				first_name: this.fields.first_name,
				last_name: this.fields.last_name,
				email: this.fields.email,
				phone: this.fields.phone,
				consent: this.fields.consent,
				password: '',
				password_confirmation: '',
				detailserrors: this.errors,
				success: false,
				loaded: true,
				validated: false,
				send: {}
      }
		},
		mounted(){
			this.first_name = this.fields.first_name;
			this.last_name = this.fields.last_name;
			this.email = this.fields.email;
			this.phone = this.fields.phone;
			this.consent = this.fields.consent;
			this.validate();
		},
		watch: {
			errors(value){
				this.detailserrors = value;
	    },
	    email(value){
	      this.validate();
	    },
	    first_name(value){
	    	this.validate();
	    },
	    last_name(value){
	    	this.validate();
	    },
	    password(value){
	    	this.validate();
	    },
	    password_confirmation(value){
	    	this.validate();
	    },
	    consent(val){
	    	this.validate();
	    }, 
	    detailserrors(val){
	    	if(this.detailserrors.email){
	    		this.detailserrors.email = this.detailserrors.email[0];
	    	}
	    }
	  },
		methods: {
			validateFirstName(value){
				if(value.length>1){
					this.detailserrors.first_name = '';
					return true;
				}else{
					this.detailserrors.first_name = 'First name must be at least 2 characters';
					return false;
				}
			},
			validateLastName(value){
				if(value.length>1){
					this.detailserrors.last_name = '';
					return true;
				}else{
					this.detailserrors.last_name = 'Last name must be at least 2 characters';
					return false;
				}
			},
			validateEmail(value){
	      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(value)){
			    this.detailserrors.email = '';
			    return true;
			  }else{
			    this.detailserrors.email = 'Invalid Email Address';
			    return false;
			  } 
	    },
	    validatePassword(value1, value2){
	    	if(value1.length >= 8 && value1 == value2){
	    		this.detailserrors.password = '';
			    return true;
	    	}else{
	    		this.detailserrors.password = 'Password must be 8 characters or more and match the confirmation';
			    return false;
	    	}
	    },
			validate(){
				if(this.validateFirstName(this.first_name) && 
					this.validateLastName(this.last_name) && 
					this.validateEmail(this.email) && 
					this.validatePassword(this.password, this.password_confirmation)&&
					this.consent == 1
				){
					this.validated = true;
				}else{
					this.validated = false;
				}
			},
			back(){
				this.$emit('back');	
			},
			confirm(){
				this.send.first_name = this.first_name;
				this.send.last_name = this.last_name;
				this.send.email = this.email;
				this.send.phone = this.phone;
				this.send.consent = this.consent;
				this.send.password = this.password;
				this.send.password_confirmation = this.password_confirmation;
				this.$emit('selected', {'details':this.send});
			},
    },
  }
</script>