<template>
	<div id="checkout-shipping" class="container py-5">
		<div class="row justify-content-center half_row">
			<div class="col-12 half_col">
				<p>Standard Shipping: £2.99</p>
				<p>Click and collect: £0.00</p>
			</div>
			<div class="col-12 half_col text-center mt-3">
				<button type="button" class="btn btn-primary float-right mob-float-none" @click="confirm()" :disabled="validated == false" >Confirm</button>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	props:{
		fields: Object,
		shipping: Object
	},
		data() {
			return {
				consent: 0,
				errors: {},
				success: false,
				loaded: true,
				validated: false,
				send: {}
      }
		},
		mounted(){
			
		},
		watch: {
	    
	  },
		methods: {
			
			back(){
				this.$emit('back');	
			},
			confirm(){
				this.send.same = this.same;
				this.send.streetAddress = this.streetAddress;
				this.send.extendedAddress = this.extendedAddress;
				this.send.postalCode = this.postalCode;
				this.send.city = this.city;
				this.send.region = this.region;
				this.send.country = this.country;
				this.send.shippingstreetAddress = this.shippingstreetAddress;
				this.send.shippingextendedAddress = this.shippingextendedAddress;
				this.send.shippingpostalCode = this.shippingpostalCode;
				this.send.shippingcity = this.shippingcity;
				this.send.shippingregion = this.shippingregion;
				this.send.shippingcountry = this.shippingcountry;
				this.$emit('selected', {'details':this.send});
			},
    },
  }
</script>
<style lang="scss">

</style>