<style lang="scss">
	@import '~vuetify/dist/vuetify.min.css';
	@import '~@mdi/font/css/materialdesignicons.min.css';
	$light: #fff;
	$primary: #3131b8;
	$second: #8DC3FF;
	$lightblue: #8DC3FF;
	$dark:#0F0A4D;
	a{
		text-decoration: none !important;
	}
	.v-application{
		font-family: nunito-sans, sans-serif;
	}
	.v-main{
		background-color: $light;
		color: $second;
	}
	h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 2rem;
		&.page-title{
			color: $lightblue;
			text-transform: uppercase;
			letter-spacing: 6px;
			font-weight: 300 !important;
			padding-top: 1rem;
		}
		&.school-name{
			font-size: 1.8rem;
		}
	}
	h1,h2,h3,h4{
		font-family: objektiv-mk1, sans-serif;
		font-weight: 600 !important;
	}
	h2.user-name{
		font-size:3rem;
		line-height: 1;
	}
	p{
		color: $second;
		b{
			font-weight: 600;
		}
	}
	.fw-600{
		font-weight: 600 !important;
	}
	.text-pink{
		color: $primary !important;
	}
	.text-dark{
		color: $dark !important;
	}
	.theme--light.v-divider{
		border-color: $primary !important;
	}
	.v-sheet.v-card:not(.v-sheet--outlined),
	.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
	}
	.v-card__title{
		color: $second !important;
		font-weight: 600 !important;
		font-size: 1.1rem;
	}
	.theme--light.v-card .v-card__subtitle, 
	.theme--light.v-card>.v-card__text{
		color: $second !important;
	}
	.border-left{
		border-left: 1px solid $primary;
	}
	.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border{
		background-color: transparent !important;
	}
	.round-image{
		border-radius: 100%;
		width: 100px;
		height: 100px;
		overflow: hidden;
		display: inline-block;
		margin-bottom: -17px;
	}
	.footer-margin{
		margin-bottom: 100px;
	}
	.theme--light.v-navigation-drawer{
		background-color: #3131b8 !important;
		.theme--light.v-icon{
			color: #ffffff !important;
		}
	}
	.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled){
		color: #ffffff !important;
	}
	.v-application .v-list-group--active.primary--text{
		color: #ffffff !important;
	}
	@media only screen and (max-width : 767px){
		.v-application .mob-py-0{
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.v-application .mob-my-0{
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.footer-margin{
			margin-bottom: 200px;
		}
		#customer-avatar,
		.round-image{
			margin-bottom: 0px;
			width: 50px !important;
			height: 50px !important;
		}
		h2.user-name{
			font-size: 7vw;
		}
	}
</style>
<template>
	<v-app id="app">
		<v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app >
      <v-list dense>
      	<v-row align="center">
          <v-col cols="12">
          	<router-link :to="{ name: 'Dashboard' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-home</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Dashboard</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
			      <router-link :to="{ name: 'Enquiries' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-comment-question</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Enquiries</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
	          <router-link :to="{ name: 'Favourites' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-star</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Favourites</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
	          <router-link :to="{ name: 'Account' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-account</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Account</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
			      <a href="/logout">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-logout</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Logout</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
		        </a>
      		</v-col>
      	</v-row>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="white" light >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4 pt-2">
        <a href="/" target="_blank">
	      	<img src="/img/logos/logo.svg?v1.0" alt="QuoPro logo" width="100"/>
	      </a>
      </v-toolbar-title>
      <v-spacer />
      <a href="/find-employees" target="_blank" v-if="user.employer.status == 'Approved'">
      	<v-btn text color="secondary" class="fw-600 d-none d-md-block">Find Employees</v-btn>
      </a>
      <router-link :to="{ name: 'Account' }" v-on:click.native="backToTop()">
	      <v-btn icon large>
	        <v-avatar size="32px" item>
	          <v-icon color="primary">mdi-account</v-icon> 
	        </v-avatar>
	      </v-btn>
	    </router-link>
      
    </v-app-bar>
    <v-main>
      <v-container class="py-5 px-5 footer-margin">
        <v-row class="py-5">
        	<v-col cols="12" v-if="alertStatus">
        		<v-alert v-model="alertStatus" dense text dismissible :type="alert.type">{{alert.message}}</v-alert>
					</v-col>
        	<v-col cols="12" lg="6" md="6" sm="6" class="py-5 my-5 mob-py-0 mob-my-0" v-if="title == 'Dashboard'">
	        		<p class="pb-0 pt-1 mb-0 text-dark">Welcome back</p>
	        		<h2 class="company-name pb-2 text-dark text-capitalize">{{user.employer.name}}</h2>
	        </v-col>
	        <v-col cols="12" lg="6" md="6" sm="6" class="py-5 my-5 mob-py-0 mob-my-0" v-else>
	        		<p class="pb-0 pt-1 mb-0 text-dark">Manage your</p>
	        		<h2 class="company-name pb-2 text-dark">{{title}}</h2>
	        </v-col>
	        <!-- <v-col cols="12" lg="6" md="6" sm="6" class="hidden-sm-and-down py-5 my-5"><h2 class="page-title text-right">{{title}}</h2></v-col> -->
          <transition name="fade" mode="out-in" @enter="enter" appear>
						<router-view :key="$route.path" @showLoader="showLoader" @hideLoader="hideLoader" @pageChange="function (type, page){pageChanged('extra', ...arguments)}" :user="user"  @showAlert="showAlert"/>
					</transition>
        </v-row>
      </v-container>
      <v-footer color="primary" padless absolute bottom>
		    <v-row justify="center" no-gutters>
		      <v-col class="primary lighten-2 py-4 text-center white--text" cols="12">
		        {{ new Date().getFullYear() }} — <strong>QuoPro</strong> - Website by <a href="https://elementseven.co" style="color:white;"><u>Element Seven</u></a>
		      </v-col>
		    </v-row>
	  	</v-footer>
    </v-main>
    
    <v-overlay :value="loader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
	</v-app>
</template>
<script>
	export default {
		props: {
			user: Object,
      source: String,
    },
		data() {
      return {
      	links: [
	        'Home',
	        'About Us',
	        'Team',
	        'Services',
	        'Blog',
	        'Contact Us',
	      ],
      	favourites:{},
	      alert:{
	      	type: '',
	      	message: '',
	      },
      	dialog: false,
      	loader: false,
	      drawer: null,
	      hasCourses: false,
	      alertStatus: false,
				pageType: 'dark',
				page: 'home',
				title: '',
			}
		},
		mounted(){
		},
		updated(){
		},
		methods: {
			showAlert(value){
				this.alertStatus = true;
				this.alert.type = value.type;
				this.alert.message = value.message;
	  	},
			enter(element) {
	    },
	    pageChanged(value1, value2, value3){
	    	this.pageType = value1.type;
	    	this.page = value2.page;
	    	this.title = value2.title;
	    },
	    showLoader(){
	  		this.loader = true;
	  	},
	  	hideLoader(){
	  		this.loader = false;
	  	},
	    backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			}
		}
	}
</script>