<template>
  <div class="container py-5">
  	<div class="row">
  		<div class="col-12 col-lg-10 mb-3">
  			<h3 class="mb-3">Which type of account do you need?</h3>
  			<p>If you are looking for potential employees please select Employer Account, if you are looking for employment please select Employee Account. If you want to sign up for GrowPro sign up for an employee account.</p>
  		</div>
  		<div class="col-12">
  			<button class="btn btn-primary mr-2 mob-mb-2" @click="selectType(2)">Employer Account</button>
  			<button class="btn btn-green" @click="selectType(3)">Employee Account</button>
  		</div>
  	</div>
  </div>
</template>

<script>
  export default {
    methods: {
    	selectType(type){
    		this.$emit('accountTypeSelected', type);
    	}
    }
  }
</script>
