<template>
	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-lg-10 mb-3">
  			<h3 class="mb-3">Tell us {{type}} address</h3>
  			<p>We will use this information to create your account, none of your information will be stored until you complete the sign up process.</p>
  		</div>
			<div class="col-md-6 mb-3">
				<label for="streetAddress"><b>Address Line 1*</b></label>
				<input id="streetAddress" class="form-control" type="text" name="streetAddress" placeholder="Address Line 1*" v-model="details.streetAddress"/>
				<div v-if="errors && errors.streetAddress" class="text-danger">{{ errors.streetAddress }}</div>
			</div>
			<div class="col-md-6 mb-3">
				<label for="extendedAddress"><b>Address Line 2</b></label>
				<input id="extendedAddress" class="form-control" type="text" name="extendedAddress" placeholder="Address Line 2" v-model="details.extendedAddress"/>
				<div v-if="errors && errors.extendedAddress" class="text-danger">{{ errors.extendedAddress }}</div>
			</div>
			<div class="col-md-6 mb-3">
				<label for="city"><b>City/Town*</b></label>
				<input id="city" class="form-control" type="text" name="city" placeholder="City/Town*" v-model="details.city"/>
				<div v-if="errors && errors.city" class="text-danger">{{ errors.city }}</div>
			</div>
			<div class="col-md-6 mb-3">
				<label for="postalCode"><b>Postcode*</b></label>
				<input id="postalCode" class="form-control" type="text" name="postalCode" placeholder="Postcode*" v-model="details.postalCode"/>
				<div v-if="errors && errors.postalCode" class="text-danger">{{ errors.postalCode }}</div>
			</div>
			<div class="col-md-6 mb-3">
				<label for="region"><b>State/Province</b></label>
				<input id="region" class="form-control" type="text" name="region" placeholder="State/Province" v-model="details.region"/>
				<div v-if="errors && errors.region" class="text-danger">{{ errors.region }}</div>
			</div>
			<div id="country-picker" class="col-md-6 mb-3">
				<label for="country"><b>Country*</b></label>
				<countries :setcountry="'GB'" @change="changecountry"></countries>
				<div v-if="errors && errors.country" class="text-danger">{{ errors.country }}</div>
			</div>
			<div class="col-12 mt-4">
				<div class="row">
					<div class="col-6">
						<p @click="back" class="text-primary cursor-pointer"><i class="fa fa-angle-double-left"></i> <b>Back</b></p>
					</div>
					<div class="col-6 text-right">
						<button id="submit" type="button" @click="submit" class="btn btn-primary btn-icon">Next <i class="fa fa-chevron-right"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props:{
			role: Number,
		},
		data() {
			return {
				errors: {},
				success: false,
				loaded: true,
				validated: false,
				type: "your",
				api:"/check-address-details",
				details: {
					streetAddress: "",
					extendedAddress: "",
					city: "",
					postalCode: "",
					region: "",
					country: "",
				}
      }
		},
		mounted(){
			if(this.role == 2){
				this.type = "your business";
			}else{
				this.type = "your";
			}
		},
		watch: {
	    'details.streetAddress'(value){
	      this.details.streetAddress = value;
	      this.validate();
	    },
	    'details.postalCode'(value){
	    	this.details.postalCode = value;
	    	this.validate();
	    },
	    'details.city'(value){
	    	this.details.city = value;
	    	this.validate();
	    },
	  },
		methods: {
			changecountry(val){
				this.details.country = val;
			},
			validatestreetAddress(value){
				if(value.length>4){
					this.errors.streetAddress = '';
					return true;
				}else{
					this.errors.streetAddress = 'Address line 1 must be at least 5 characters';
					return false;
				}
			},
			validatepostalCode(value){
				if(value.length>5){
					this.errors.postalCode = '';
					return true;
				}else{
					this.errors.postalCode = 'Postcode must be at least 6 characters';
					return false;
				}
			},
			validatecity(value){
				if(value.length>1){
					this.errors.city = '';
					return true;
				}else{
					this.errors.city = 'City must be at least 2 characters';
					return false;
				}
			},
			validate(){
				if(this.validatestreetAddress(this.details.streetAddress) && this.validatepostalCode(this.details.postalCode) && this.validatecity(this.details.city)){
					this.validated = true;
				}else{
					this.validated = false;
				}
			},
			back(){
				this.$emit('back');	
			},
			submit(){
    		this.errors = {};
    		axios.post(this.api, this.details)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          $('#close-loader-btn').removeClass('d-none').addClass('d-block');
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          $('#loader-success').removeClass('d-none').addClass('d-block');
          this.$emit('addressDetailsSubmitted', this.details);
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
            document.getElementById("loader").classList.remove("on");
          }
        });
    	}
    },
  }
</script>
<style lang="scss">
#country-picker{
	select{
		height: 50px;
		color: #00004E;
	}
}
</style>