<template>
	<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
	    <div class="modal-content">
	      <div class="card bg-white py-4 px-4">
	        <div class="row mb-3">
	          <div class="col-12 text-center py-4">
	            <h3 class="text-dark">Select your avatar:</h3>
	          </div>
	          <div class="col-4 col-lg-2 mb-4 text-center" v-for="(a, i) in avatars" :key="i">
	            <div class="select-avatar bg-white shadow d-inline-block" @click="selectAvatar(a)">
								<picture> 
								  <source :srcset="a.webp" type="image/webp"/> 
								  <source :srcset="a.normal" type="image/jpeg"/> 
								  <img :srcset="a.normal" type="image/jpeg" alt="avatar" class="avatar-img" width="90" />
								</picture>
								<div class="avatar-hover bg-primary text-center"><i class="fa fa-check"></i></div>
							</div>
	          </div>
	          <div class="col-12 text-center mt-4">
	          	<button type="button" @click="close" class="btn btn-primary">Close</button>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
  export default {
    data() {
      return {
        avatars: [],
        avatar: null,
        errors: {},
        success: false,
        loaded: true,
      }
    }, 
    mounted(){
      this.getAvatars();
    },
    methods: {
      close(){
        $('#avatarModal').modal('hide');
      },
      getAvatars(){
        axios.get('/avatars/get')
        .then(response => {
          // Empty fields and enable success message
          this.avatars = response.data;
          this.loaded = true;
        })
        .catch(error => {
          // Error handling
          console.log(error.response);
          this.loaded = true;
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
      },
      selectAvatar(av) {
        const selectedAvatar = av;
        this.$emit('avatarUpdated', selectedAvatar);
        this.close();
      },
    },
  }
</script>
<style lang="scss">
	.select-avatar{
		border-radius: 100%;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		.avatar-hover{
			position: absolute;
			top: -200px;
			left: 0;
			width: 100%;
			height: 100%;
			color: #fff;
			line-height: 90px;
			cursor: pointer;
			-webkit-transition: all 300ms ease;
	    -moz-transition: all 300ms ease ;
	    -o-transition: all 300ms ease;
	    transition: all 300ms ease;
		}
		&:hover{
			.avatar-hover{
				top:0;
			}
		}
	}
</style>