<template>
  <div class="container py-5" v-if="loaded">
  	<div class="row">
  		<div class="col-12 col-lg-10 mb-3">
  			<h3 class="mb-3">Tell us a bit about your occupation</h3>
  			<p>We will use this information to create your account, none of your information will be stored until you complete the sign up process.</p>
  		</div>
  		<div class="col-12">
  			<form id="employee-signup-form" @submit.prevent="submit" class="row">
  				<div class="form-group col-lg-12" v-if="attributes != null && attributes.length > 0">
  					<p><b>Please select all that apply to you:</b>
  						<div class="row">
  							<div class="col-lg-3 mb-2" v-for="a in attributes">
			  					<div class="form-check">
									  <input class="form-check-input" type="checkbox" :value="a.id" :id="'attributes'+a.id" v-model="fields.attributes">
									  <label class="form-check-label" :for="'attributes'+a.id">
									    {{a.title}}
									  </label>
									</div>
								</div>
							</div>
						</p>
  				</div>
					<div class="form-group col-12">
						<label for="job" class="mb-2"><b>Occupation Category*</b></label>
						<div id="jobs-select" class="select-holder shadow border-0">
							<select id="job" type="text" class="form-control" name="job" placeholder="Last Name*" v-model="fields.job">
								<option disabled value="*">Select Occupation Category</option>
								<option v-for="(job, i) in jobs" :key="i" :value="job.id">{{job.title}}</option>
							</select>
						</div>
						<div v-if="errors && errors.job" class="text-primary">{{ errors.job[0] }}</div>
					</div>
					<div class="form-group col-12">
						<label for="job_title" class="mb-2"><b>Occupation*</b></label>
						<input id="job_title" type="text" class="form-control" name="job_title" placeholder="Job Title*" v-model="fields.job_title" />
						<div v-if="errors && errors.job_title" class="text-primary">{{ errors.job_title[0] }}</div>
					</div>
					<div class="col-md-6">
						<label for="dob" class="mb-2"><b>Date of birth*</b></label>
						<datetime v-model="fields.dob" input-id="dob" :flow="['year', 'date']"></datetime>
						<div v-if="errors && errors.dob" class="text-primary">{{ errors.dob[0] }}</div>
					</div>
					<div class="form-group col-md-6 mob-mt-3">
						<label for="salary" class="mb-2"><b>Expected salary range*</b></label>
						<div id="salary-select" class="select-holder shadow border-0">
							<select class="form-control" name="salary" v-model="fields.salary">
								<option disabled value="*">Select salary range</option>
		            <option value="£15,000 - £20,000">£15,000 - £20,000</option>
		            <option value="£20,000 - £25,000">£20,000 - £25,000</option>
		            <option value="£25,000 - £30,000">£25,000 - £30,000</option>
		            <option value="£30,000 - £35,000">£30,000 - £35,000</option>
		            <option value="£35,000 - £40,000">£35,000 - £40,000</option>
		            <option value="£40,000 - £50,000">£40,000 - £50,000</option>
		            <option value="£50,000 - £60,000">£50,000 - £60,000</option>
		            <option value="£60,000 - £70,000">£60,000 - £70,000</option>
		            <option value="£70,000 - £80,000">£70,000 - £80,000</option>
		            <option value="£80,000 - £90,000">£80,000 - £90,000</option>
		            <option value="£100,000+">£100,000+</option>
		          </select>
						</div>
						<div v-if="errors && errors.salary" class="text-primary">{{ errors.salary[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="experience" class="mb-2"><b>Experience*</b></label>
						<div id="experience-select" class="select-holder shadow border-0">
							<select class="form-control" name="experience" v-model="fields.experience">
								<option disabled value="*">Select experience</option>
		            <option v-for="(ex, i) in experiences" :key="i" :value="ex.slug">{{ex.title}}</option>
		          </select>
						</div>
						<div v-if="errors && errors.experience" class="text-primary">{{ errors.experience[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="working_pattern" class="mb-2"><b>Working Pattern*</b></label>
						<div id="working-pattern-select" class="select-holder shadow border-0">
							<select class="form-control" name="working_pattern" v-model="fields.working_pattern">
		            <option value="Full Time">Full Time</option>
		            <option value="Part Time">Part Time</option>
		          </select>
						</div>
						<div v-if="errors && errors.working_pattern" class="text-primary">{{ errors.working_pattern[0] }}</div>
					</div>
					<div class="col-12">
						<label for="description" class="mb-2"><b>Profile Description*</b><br/>Unsure about writing your profile description? Check out our <a href="/tips/profile-description" target="_blank">tips page</a>.</label>
						<vue-editor :editorToolbar="customToolbar" v-model="fields.description"></vue-editor>
						<div v-if="errors && errors.description" class="text-primary">{{ errors.description[0] }}</div>
					</div>
					<div class="col-12 mt-5">
						<hr class="my-0" />
						<div class="row py-5 justify-content-center">
				  		<div class="col-lg-3 mob-px-5 mob-mb-3">
				  			<img src="/img/logos/growpro.svg" alt="Growpro logo" class="w-100 mob-px-5"/>
				  		</div>
				  		<div class="col-lg-6">
				  			<p class="text-small">GrowPro is our connective tool between education and employment. To participate in the GrowPro programme, check the box below. If you want to learn more about GrowPro <a href="/growpro" target="blank">click here</a>.</p>
				  		</div>
				  		<div class="col-12 mt-2 text-center">
								<div class="form-check d-inline-block text-left mb-5">
							    <input type="checkbox" class="form-check-input mt-2" id="growpro" v-model="fields.growpro">
							    <label class="form-check-label" for="growpro"><p class="mb-0 slightly-smaller">I want to participate in the GrowPro programme.</p></label>
							  </div>
							  <hr/>
							</div>
				  	</div>
						<div class="row">
							<div class="col-6">
								<p @click="back" class="text-primary cursor-pointer"><i class="fa fa-angle-double-left"></i> <b>Back</b></p>
							</div>
							<div class="col-6 text-right">
								<button id="submit" type="submit"  class="btn btn-primary btn-icon">Next <i class="fa fa-chevron-right"></i></button>
							</div>
						</div>
					</div>
				</form>
  		</div>
  	</div>
  </div>
</template>

<script>
	import { VueEditor } from "vue2-editor";
	import { Datetime } from 'vue-datetime';
  export default {
  	components: {
      VueEditor,
      datetime: Datetime
    },
  	data() {
			return {
				fields: {
					working_pattern: "Full Time",
					salary: "*",
					experience: "*",
					job: "*",
					job_title: "",
					dob: null,
					description: "",
					growpro: "",
					attributes: [],
				},
				attributes:null,
				experiences: [],
				customToolbar: [["bold", "italic", "underline"], [{ list: "bullet" }]],
				jobs: [],
				api:"/check-employee-details",
				errors: {},
				success: false,
				loaded: false,
			}
		},
		mounted(){
			setTimeout(function(){
				document.getElementById("dob").placeholder = "Click to select";
			}, 500);
			for(var x = 0; x <= 60; x++){
        this.experiences.push( { title:  x + " Years", slug: x + " Years" } );
      }
      this.getAttributes();
			this.getJobs();
		},	
    methods: {
    	getAttributes(){
    		axios.get('/attributes/get').then(response => {
	        this.attributes = response.data;
	        this.loaded = true;
	      })
	      .catch(error => {
	        // Error handling
	        this.loaded = true;
	        console.log(error);
	      });
    	},
    	back(){
				this.$emit('back');
    	},
   		getJobs(){
	      axios.get('/jobs/get/all').then(response => {
	        this.jobs = response.data;
	        this.loaded = true;
	      })
	      .catch(error => {
	        // Error handling
	        this.loaded = true;
	        console.log(error);
	      });
	    },
    	submit(){
    		this.errors = {};
    		axios.post(this.api, this.fields)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          $('#close-loader-btn').removeClass('d-none').addClass('d-block');
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          $('#loader-success').removeClass('d-none').addClass('d-block');
          this.$emit('employeeDetailsSubmitted', this.fields);
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          if (error.response.status === 422) {
          	this.errors = error.response.data || {};
          	console.log(error.response.data.message);
            document.getElementById("loader").classList.remove("on");
          }
        });
    	}
    }
  }
</script>
<style lang="scss">
#jobs-select,
#salary-select,
#working-pattern-select,
#experience-select{
	height:50px;
	select{
		height: 50px;
		color: #00004E;
	}
}
.quillWrapper{
	border-radius: 5px;
	box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
}
#quill-container{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0;
}
.quillWrapper .ql-snow.ql-toolbar{
	border-top-left-radius: 5px;
	border: 0;
	border-bottom: 1px solid #f2f2f2;
	border-top-right-radius: 5px;
}
.vdatetime-input{
	padding: 1rem;
	border: 0;
	height: 50px;
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: none !important;
	outline: none !important;
	font-family: nunito-sans, sans-serif;;
	box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
	&:focus{
		outline: none !important;
		border-color: #0269DD !important;
	}
}

</style>