<template>
  <div class="container py-5" v-if="loaded">
  	<div class="row">
  		<div class="col-12 col-lg-10 mb-3">
  			<h3 class="mb-3">Tell us a bit about your business</h3>
  			<p>We will use this information to create your account, none of your information will be stored until you complete the sign up process.</p>
  		</div>
  		<div class="col-12">
  			<form id="employer-signup-form" @submit.prevent="submit" class="row">
					<div class="form-group col-md-6">
						<label for="name" class="mb-2"><b>Business Name</b></label>
						<input id="name" type="text" class="form-control" name="name" placeholder="Business Name*" v-model="fields.name" />
						<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="industry" class="mb-2"><b>Industry</b></label>
						<div id="industries-select" class="select-holder shadow border-0">
							<select id="industry" type="text" class="form-control" name="industry" placeholder="Last Name*" v-model="fields.industry">
								<option disabled value="*">Select Industry</option>
								<option v-for="(industry, i) in industries" :key="i" :value="industry.id">{{industry.title}}</option>
							</select>
						</div>
						<div v-if="errors && errors.industry" class="text-primary">{{ errors.industry[0] }}</div>
					</div>
					<div class="col-12">
						<label for="description" class="mb-2"><b>Business Description</b></label>
						<vue-editor :editorToolbar="customToolbar" v-model="fields.description"></vue-editor>
					</div>
					<div class="col-12 mt-4">
						<div class="row">
							<div class="col-6">
								<p @click="back" class="text-primary cursor-pointer"><i class="fa fa-angle-double-left"></i> <b>Back</b></p>
							</div>
							<div class="col-6 text-right">
								<button id="submit" type="submit"  class="btn btn-primary btn-icon">Next <i class="fa fa-chevron-right"></i></button>
							</div>
						</div>
					</div>
				</form>
  		</div>
  	</div>
  </div>
</template>

<script>
	import { VueEditor } from "vue2-editor";
  export default {
  	components: {
      VueEditor,
    },
  	data() {
			return {
				fields: {
					name: "",
					industry: "*",
					description: ""
				},
				customToolbar: [["bold", "italic", "underline"], [{ list: "bullet" }]],
				industries: [],
				api:"/check-employer-details",
				errors: {},
				success: false,
				loaded: false,
			}
		},
		mounted(){
			this.getIndustries();
		},	
    methods: {
    	back(){
				this.$emit('back');
    	},
   		getIndustries(){
	      axios.get('/industries/get').then(response => {
	        this.industries = response.data;
	        this.loaded = true;
	      })
	      .catch(error => {
	        // Error handling
	        this.loaded = true;
	        console.log(error);
	      });
	    },
    	submit(){
    		this.errors = {};
    		axios.post(this.api, this.fields)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          $('#close-loader-btn').removeClass('d-none').addClass('d-block');
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          $('#loader-success').removeClass('d-none').addClass('d-block');
          this.$emit('employerDetailsSubmitted', this.fields);
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
            document.getElementById("loader").classList.remove("on");
          }
        });
    	}
    }
  }
</script>
<style lang="scss">
#industries-select{
	height:50px;
	select{
		height: 50px;
		color: #00004E;
	}
}
.quillWrapper{
	border-radius: 5px;
	box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
}
#quill-container{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0;
}
.quillWrapper .ql-snow.ql-toolbar{
	border-top-left-radius: 5px;
	border: 0;
	border-bottom: 1px solid #f2f2f2;
	border-top-right-radius: 5px;
}
</style>