<template>
  <div class="container py-5">
  	<div class="row py-5">
  		<div class="col-12">
  			<account-type v-if="stage == 0" @accountTypeSelected="accountTypeSelected"></account-type>
  			<personal-details v-if="stage == 1" @personalDetailsSubmitted="personalDetailsSubmitted" @back="back"></personal-details>
  			<address-details v-if="stage == 2" @addressDetailsSubmitted="addressDetailsSubmitted" @back="back" :role="user.role_id"></address-details>
  			<signup-employer-details v-if="stage == 3 && user.role_id == 2" @employerDetailsSubmitted="employerDetailsSubmitted" @back="back"></signup-employer-details>
  			<signup-employee-details v-if="stage == 3 && user.role_id == 3" @employeeDetailsSubmitted="employeeDetailsSubmitted" @back="back"></signup-employee-details>
  		</div>
  	</div>
  </div>
</template>
<script>
	const AccountType = () => import(/* webpackChunkName: "AccountType" */ './AccountType.vue');
	const PersonalDetails = () => import(/* webpackChunkName: "PersonalDetails" */ './PersonalDetails.vue');
	const AddressDetails = () => import(/* webpackChunkName: "AddressDetails" */ './AddressDetails.vue');
	const SignupEmployeeDetails = () => import(/* webpackChunkName: "SignupEmployeeDetails" */ './EmployeeDetails.vue');
	const SignupEmployerDetails = () => import(/* webpackChunkName: "SignupEmployerDetails" */ './EmployerDetails.vue');
  export default {
  	components:{
  		AccountType,
  		PersonalDetails,
  		AddressDetails,
  		SignupEmployeeDetails,
  		SignupEmployerDetails
  	},
    data() {
      return {
        stage: 0,
        user: {
          role_id: null,
        	address: {},
        	employee:{},
        	employer:{}
        },
      }
    },
    mounted() {
    },
    methods: {
      notificationModal(body, btntext, btnlink){
        $('#notificationModal .modal-text').html(body);
        $('#notificationModal .modal-btn').html(btntext);
        $('#notificationModal .modal-btn-link').attr('href', btnlink);
        $('#notificationModal').modal('show');
      },
    	employerDetailsSubmitted(value){
    		this.user.employer.name = value.name;
    		this.user.employer.description = value.description;
    		this.user.employer.industry = value.industry;
    		this.complete();
        window.scrollTo(0, 0);
    	},
    	employeeDetailsSubmitted(value){
    		this.user.employee.description = value.description;
    		this.user.employee.dob = value.dob;
    		this.user.employee.salary = value.salary;
    		this.user.employee.experience = value.experience;
    		this.user.employee.working_pattern = value.working_pattern;
    		this.user.employee.job = value.job;
        this.user.employee.job_title = value.job_title;
        this.user.employee.attributes = value.attributes;
        this.user.employee.growpro = value.growpro;
    		this.complete();
        window.scrollTo(0, 0);
    	},
    	accountTypeSelected(value){
    		this.user.role_id = value;
    		this.stage++;
        window.scrollTo(0, 0);
    	},
    	addressDetailsSubmitted(value){
    		this.user.address.streetAddress = value.streetAddress;
    		this.user.address.extendedAddress = value.extendedAddress;
    		this.user.address.city = value.city;
    		this.user.address.postalCode = value.postalCode;
    		this.user.address.region = value.region;
    		this.user.address.country = value.country;
    		this.stage++;
        window.scrollTo(0, 0);
    	},
    	personalDetailsSubmitted(value){
    		this.user.first_name = value.first_name;
    		this.user.last_name = value.last_name;
    		this.user.phone = value.phone;
    		this.user.email = value.email;
    		this.user.password = value.password;
    		this.stage++;
        window.scrollTo(0, 0);
    	},
    	back(){
    		this.stage--;
        window.scrollTo(0, 0);
    	},
    	complete(){
    		this.loaded = false;
    		this.success = false;
    		this.errors = {};
    		var api = "";
    		if(this.user.role_id == 2){
    			api = '/signup/employer';
    		}else{
    			api = '/signup/employee';
    		}
    		document.getElementById("loader").classList.add("on");
        document.getElementById("close-loader-btn").classList.add("d-none");
        document.getElementById("loader-success").classList.add("d-none");
        $('#loader-roller').addClass('d-block').removeClass('d-none');
    		axios.post(api, this.user)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var modalbody = 'Account created successfully, we will be in touch when your profile is approved. Visit your dashboard to manage your profile.';
          var btntext = 'Dashboard';
          var btnlink = '/login';
          this.notificationModal(modalbody, btntext, btnlink);
          document.getElementById("loader").classList.remove("on");
          $('#loader-roller').removeClass('d-block').addClass('d-none');
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data);
          	$('#loader-roller').removeClass('d-block').addClass('d-none');
            document.getElementById("loader").classList.remove("on");
          }
        });
  	  }
    }
  }
</script>
<style lang="scss">
.vdatetime-input{
  padding: 1rem;
  border: 0;
  height: 50px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none !important;
  outline: none !important;
  font-family: nunito-sans, sans-serif;;
  box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
  &:focus{
    outline: none !important;
    border-color: #0269DD !important;
  }
}
</style>