<template>
  <div class="container py-5">
  	<div class="row">
  		<div class="col-12 col-lg-10 mb-3">
  			<h3 class="mb-3">Tell us a bit about you</h3>
  			<p>We will use this information to create your account, none of your information will be stored until you complete the sign up process.</p>
  		</div>
  		<div class="col-12">
  			<form id="contact-page-form" @submit.prevent="submit" class="row">
					<div class="form-group col-md-6">
						<label for="first_name" class="mb-2"><b>First Name</b></label>
						<input id="first_name" type="text" class="form-control" name="first_name" placeholder="First Name*" v-model="fields.first_name" />
						<div v-if="errors && errors.first_name" class="text-primary">{{ errors.first_name[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="last_name" class="mb-2"><b>Last Name</b></label>
						<input id="last_name" type="text" class="form-control" name="last_name" placeholder="Last Name*" v-model="fields.last_name" />
						<div v-if="errors && errors.last_name" class="text-primary">{{ errors.last_name[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="phone" class="mb-2"><b>Phone</b></label>
						<vue-phone-number-input v-model="phone" @update="setPhoneNumber"></vue-phone-number-input>
						<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="email" class="mb-2"><b>Email</b></label>
						<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
						<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="password" class="mb-2"><b>Password</b></label>
						<input id="password" type="password" class="form-control" name="password" placeholder="Password*" v-model="fields.password" />
						<div v-if="errors && errors.password" class="text-primary">{{ errors.password[0] }}</div>
					</div>
					<div class="form-group col-md-6">
						<label for="password_confirmation" class="mb-2"><b>Confirm Password</b></label>
						<input id="password_confirmation" type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password*" v-model="fields.password_confirmation" />
					</div>
					<div class="col-12 mt-2">
						<div class="form-check">
					    <input type="checkbox" class="form-check-input" id="consent" v-model="fields.consent" required>
					    <label class="form-check-label" for="consent">I consent to QuoPro storing and using the data collected in this form for reasons detailed in the <a href="/tandcs" target="_blank">Terms & Conditions</a>. I have read and agree to the <a href="/tandcs" target="_blank">Terms & Conditions</a> and  <a href="/privacy-policy" target="_blank">Privacy Policy</a>. </label>
					  </div>
					</div>
					<div class="col-12 mt-4">
						<div class="row">
							<div class="col-6">
								<p class="text-primary"><span class="d-inline cursor-pointer" @click="back"><i class="fa fa-angle-double-left"></i> <b>Back</b></span></p>
							</div>
							<div class="col-6 text-right">
								<button id="submit" type="submit"  class="btn btn-primary btn-icon">Next <i class="fa fa-chevron-right"></i></button>
							</div>
						</div>
					</div>
				</form>
  		</div>
  	</div>
  </div>
</template>

<script>
	import VuePhoneNumberInput from 'vue-phone-number-input';
  export default {
  	data() {
			return {
				fields: {
					first_name: "",
					last_name: "",
					phone: "",
					email: "",
					password: "",
					password_confirmation: "",
					consent: "",
				},
				phone: null,
				api:"/check-personal-details",
				errors: {},
				success: false,
				loaded: true,
			}
		},
    methods: {
    	setPhoneNumber(value){
				this.fields.phone = value.formattedNumber;
    	},
    	back(){
				this.$emit('back');
    	},
    	submit(){
    		this.errors = {};
    		axios.post(this.api, this.fields)
    		.then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          $('#close-loader-btn').removeClass('d-none').addClass('d-block');
          $('#loader-roller').removeClass('d-block').addClass('d-none');
          $('#loader-success').removeClass('d-none').addClass('d-block');
          this.$emit('personalDetailsSubmitted', this.fields);
        })
    		.catch(error => {
         // Error handling
          this.loaded = true;
          if (error.response.status === 422) {
          	this.errors = error.response.data.errors || {};
          	console.log(error.response.data.message);
            document.getElementById("loader").classList.remove("on");
          }
        });
    	}
    }
  }
</script>
<style lang="scss">
.vue-phone-number-input{
	border-radius: 5px;
	height: 50px !important;
	box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
	input,
	.country-selector{
		height: 50px !important;
	}
	.country-selector__country-flag{
		top: 27px;
	}
	.country-selector__toggle{
		top: calc(50% - 6px);
	}
	.country-selector__input,
	.input-tel__input{
		border: 0 !important;
		height: 50px;
	}
	.country-selector__input{
		border-right: 1px solid #f2f2f2 !important;
	}
}
.form-check-label{
	font-size: 0.9rem;
}
</style>