<template>
  <footer class="container-fluid text-center text-lg-left position-relative z-1 ">
    <div class="footer-bg"></div>
    <div class="row py-5">
        <div class="container py-5 mob-pt-0">
            <div class="row pt-5 mob-pt-0">
                <div class="col-lg-6 text-center">
                    <img src="/img/graphics/footer-people.svg" alt="Employers finding the right Employees" height="250"/>
                </div>
                <div class="col-lg-6 pt-5">
                    <h3 class="mb-4 pt-5">Find the right employee for your business</h3>
                    <a href="/find-employees">
                        <button class="btn btn-white btn-icon" type="button">Search Employees <i class="fa fa-arrow-circle-right"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="position-relative footer-inner row py-5 mob-mt-0 footer-inner">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-3 mb-3 pr-5 mob-px-3 ipadp-px-3 text-center">
            <img src="/img/logos/logo-white.svg" alt="QuoPro logo" class="mb-4" />
            <p class="mb-2">
              <a href="https://www.facebook.com/QuoPro-Recruitment-101761438740068"><i class="fa fa-facebook-square"></i></a>
              <a href="https://twitter.com/QuoproR"><i class="fa fa-twitter ml-2"></i></a>
              <a href="https://www.linkedin.com/company/quoprorecruitment/" ><i class="fa fa-linkedin ml-2"></i></a>
            </p>
            <p class="mb-0 d-lg-none"><a href="/terms-and-conditions">Terms & Conditions</a></p>
            <p class="mb-0 d-lg-none"><a href="/privacy-policy" target="_blank">Privacy Policy</a></p>
          </div>
          <div class="col-lg-5 mb-3 d-none d-lg-block">
            <div class="row pl-5">
              <div class="col-6">
                <p class="mb-0"><a href="/" class="menu-item">Home</a></p>
                <p class="mb-0"><a href="/find-employees" class="menu-item">Find Employees</a></p>
                <p class="mb-0"><a href="/why-quopro" class="menu-item">Why QuoPro?</a></p>
                <p class="mb-0"><a href="/growpro" class="menu-item">GrowPro</a></p>
              </div>
              <div class="col-6">
                <p class="mb-0"><a href="/services" class="menu-item">Services</a></p>
                <p class="mb-0"><a href="/blog" class="menu-item">Blog</a></p>
                <p class="mb-0"><a href="/contact" class="menu-item">Contact</a></p>
                <p class="mb-0"><a href="/login" class="menu-item">Login / Sign up</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-3 text-lg-right">
            <p class="mob-my-4">Titanic Suites<br/>55-59 Adelaide St<br/>Belfast, BT2 8FE</p>
            <p class="mb-1"><a href="tel:00447518156827">+44 (0) 75 1815 6827</a></p>
            <p><a href="mailto:hello@quoprorecruitment.com">hello@quoprorecruitment.com</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <p class="text-smallest">Company Number: NI681082 | <a href="/terms-and-conditions">Terms & Conditions</a> | <a href="/privacy-policy">Privacy Policy</a><br/>&copy;2021 QuoPro Ltd - <a href="https://elementseven.co" target="_blank">Website by Element Seven</a></p>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
  footer{
    color: #ffffff;
    .footer-bg{
      position: absolute !important;
      bottom: 0;
      left: calc(50% - 1050px);
      width: 2100px;
      height: 100%;
      z-index: 0;
      background-image: url("/img/graphics/wave.svg");
      background-size: 100%;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
    a{
      cursor: pointer;
      color: #ffffff;
      &:hover{
        color: #5CCC4A;
      }
    }
    p{
      font-size: 1.0rem;
    }
    img{
      max-width: 100%;
    }
    .footer-social{
      font-size: 25px;
    }
    .menu_logo{
      width:150px;
    }
  }
  .footer-inner{
    border-top: 2px solid #fff;
  }
  .footer-top{
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    .footer-overlap{
      margin-top: -540px;
      &.team-overlap{
        margin-top: -420px;
      }
    }
  }
</style>