<template>
	<v-container>
		<v-row class="" v-if="user != null">
			<employee-details :employee="user.employee" @showLoader="showLoader" @hideLoader="hideLoader" @showAlert="showAlert"></employee-details>
		</v-row>
		<v-row class="mt-5" v-if="user != null">
			<v-col cols="12">
				<v-divider class="my-5"/>
			</v-col>
			<user-info-form :user="user" @showLoader="showLoader" @hideLoader="hideLoader" @showAlert="showAlert"></user-info-form>
		</v-row>
		<v-row class="mt-5" v-if="user != null">
			<v-col cols="12">
				<v-divider class="my-5"/>
			</v-col>
			<change-password :user="user" @showLoader="showLoader" @hideLoader="hideLoader" @showAlert="showAlert"></change-password>
		</v-row>
		
	</v-container>
</template>
<script>
	const Avatar = () => import(/* webpackChunkName: "Avatar" */ '../components/account/Avatar.vue');
	const UserInfoForm = () => import(/* webpackChunkName: "UserInfoForm" */ '../components/account/UserInfoForm.vue');
	const ChangePassword = () => import(/* webpackChunkName: "ChangePassword" */ '../components/account/ChangePassword.vue');
	const EmployeeDetails = () => import(/* webpackChunkName: "EmployeeDetails" */ '../components/account/EmployeeDetails.vue');
	export default {
		components: { 
			Avatar,
			UserInfoForm,
			ChangePassword,
			EmployeeDetails,
		},
		data() {
      return {
      	user: null,
			}
		},
		mounted(){
			this.$emit('pageChange', {'type':'dark', 'page':'Account', 'title':'Account'});
			this.getUser();
		},
		metaInfo: {
			title: 'Account Management - QuoPro Recruitment',
	    meta: [
	      { name: 'description', content: 'QuoPro Recruitment - Account Management' },
	      { name: 'og-image', content: 'https://quoprorecruitment.com/img/og.jpg' }
	    ]
	  },
	  methods:{
	  	showAlert(value){
	  		this.$emit('showAlert', {'type':value.type, 'message':value.message});
	  	},
	  	showLoader(){
	  		this.$emit('showLoader');
	  	},
	  	hideLoader(){
	  		this.$emit('hideLoader');
	  	},
	  	getUser(){
        axios.get('/account/specific-employee').then(response => {
          this.user = response.data;
          this.loaded = true;
          this.$emit('hideLoader');
        })
        .catch(error => {
          this.$emit('hideLoader');
          // Error handling
          console.log(error);
        });
      },
	  }
	}
</script>
<style lang="scss">

</style>