<template>
	<v-container>
		<v-row class="">
			
		</v-row>
	</v-container>
</template>
<script>
	
	export default {
		data() {
      return {     
			}
		},
		mounted(){
		},
	  methods:{
	  	
	  }
	}
</script>
<style lang="scss">

</style>