<template>
	<v-container class="mt-5 pt-5">
		<v-row class="">
			<v-col cols="6">
				
			</v-col>
		</v-row>
	</v-container>
</template>
<script>
	export default {
		data() {
      return {
			}
		},

	  methods:{
	  	
	  }
	}
</script>