<template>
  <div class="container pt-3 ">
    <div class="row pb-5 mob-py-0" v-if="posts.length > 0">
      <div class="col-12 mb-5" v-for="post in posts">
        <div class="blog-link">
          <a :href="'/blog/' +moment(post.created_at) +'/'+ post.slug" >
            <p class="post-exerpt mb-1 text-light">{{niceDate(post.created_at)}}</p>
            <h3 class="post-title text-dark mb-4">{{post.title}}</h3>
            <p class="post-exerpt text-dark mb-4">{{post.excerpt}}...</p>
            <p class="mb-0 text-primary pb-5"><b>Read more</b> <i class="fa fa-arrow-circle-right text-primary ml-1 read-more"></i></p>
          </a>  
        </div>
      </div>
      <div class="col-12 mt-5" v-if="loadmore">
        <div class="btn btn-primary mx-auto" @click="$emit('loadmore', true);">Load More</div>
      </div>
    </div>
    <div class="row justify-content-center py-5" v-else>
      <div class="col-md-8 text-center">
        <h3 class="mb-0">Sorry no results found</h3>
        <div class="line d-inline-block mx-auto my-3"></div>
        <p>Sorry, there are no news articles available at the moment. Please check again later!</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
      loadmore: Boolean
    },
    methods: {
      getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      niceDate: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return thedate + extension + ' ' + months[newdate.getMonth()] + ' ' + newdate.getFullYear();
        // return moment(date).format('Do MMM YYYY');
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
  .blog-link{
    display: inline-block;
    border-bottom: 2px solid #f2f2f2;
    .read-more{
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
    }
    &:after{
      content: "";
      background-color: #0269DD;
      height: 2px;
      width: 0%;
      position: absolute;
      bottom: 0;
      left: 1rem;
      opacity: 0;
      -webkit-transition: all 1000ms ease;
      -moz-transition: all 1000ms ease ;
      -o-transition: all 1000ms ease;
      transition: all 1000ms ease;
    }
    &:hover{
      &:after{
        opacity: 1;
        width: calc(100% - 2rem);
      }
      .read-more{
        margin-left: 0.5rem !important;
      }
    }
  }
</style>