
.btn{
	display: block;
	border-radius: 30px;
	@include transition(300ms);
}
.btn-white{
	background-color: $white;
	color: $darkgrey;
}
.btn-primary{
	color: $white;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	border-radius: 30px;
	&:hover{
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
}
.btn-second{
	color: $white;
	background-color: $second;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	position: relative;
	&:hover{
		text-decoration: none !important;
		background-color: $primary;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
	.selected-icon{
		position: absolute;
		top: 12px;
		left: 15px;
	}
}
.btn-danger{
	color: $white;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	&:hover{
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
}
.btn-success{
	color: $white;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	&:hover{
		text-decoration: none !important;
	}
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
}
.btn-icon{
	width: 35px;
	height: 35px;
	padding: 5px 0;
	text-align: center;
	i{
		font-size: 16px;
	}
}
.btn-grey{
	color: $darkgrey;
	background-color: $midgrey;
	width: 100%;
	height: 50px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 13px 15px;
	position: relative;
	&:disabled{
		color: $white;
	}
	&.no_max{
		max-width: 1000px;
	}
	i, span{
		line-height: 23px;
		font-size: 23px;
	}
	&.selected{
		color: $white;
		background-color: $second;
	}
	.selected-icon{
		position: absolute;
		top: 12px;
		left: 15px;
	}
}
.btn-small{
	max-width: 130px !important;
	height: 35px;
	font-size: 13px;
	padding: 8px 10px;
	i{
		font-size: 16px;
	}
}
.dash-btn{
	font-size: 1rem;
}