// Desktop lg
@media only screen and (min-width: 992px) and (max-width : 1199px){
	.lg-pl-5{
		padding-left:3rem;
	}
}
@media only screen and (min-width : 1601px){
	.menu-bg{
		display: none;
	}
}
@media only screen and (max-width : 1600px){
	.menu-bg{
		position: absolute;
	  top: -100px;
	  width: 60vw;
	  right: 0;
	}
}

@media only screen and (max-width : 1400px){
	.menu-bg{
		position: absolute;
	  top: -33px;
	  width: 70vw;
	  right: 0;
	}
}

@media only screen and (max-width : 1200px){
	.menu-bg{
		position: absolute;
	  top: -60px;
	  width: 80vw;
	  right: 0;
	}
}
@media only screen and (max-width : 991px){
	.menu-bg{
		display: none;
	}
}

