@media only screen and (max-width : 767px){
	body {
		h1{
			font-size: 11vw;
		  line-height: 1.2;
			&.page-top{
		    font-size: 10vw;
		    line-height: 1.2;
			}
			&.faq-title{
		    font-size: 11.5vw;
		    line-height: 1;
			}
			&.blog-title{
				font-size: 9vw;
			}
			.larger{
				font-size: 18vw;
			}
			&.page-title{
				font-size: 11vw;
			}
			&.mimic-h3{
				font-size: 5.5vw;
	    	line-height: 1.4;
			}
			&.smaller-title{
				font-size:10vw;
			}
		}
		h2 {
	    font-size: 10vw;
	    line-height: 1.2;
	    &.title-large{
	    	font-size: 11.5vw;
    		line-height: 1;
	    }
		}
		h3{	
	    font-size: 5.5vw;
	    line-height: 1.4;
	    &.job-title {
			  font-size: 5.5vw;
			}
			&.faq-question {
			  font-size: 8vw;
			}
		}
		h4{
			font-size: 5.5vw;
			&.mob-smaller{
				font-size: 3.5vw;
			}
		}
		p{
			font-size: 4vw;
			line-height: 1.6;
			&.page-strap{
				font-size: 5vw;
			}
			&.text-small{
				line-height: 1.6;
			}
			&.strap {
			    font-size: 6vw;
			    line-height: 8vw;
			}
			&.statement{
		    font-size: 5.5vw;
		    line-height: 8.5vw;
			}
			&.text-larger{
				font-size: 4.8vw;
			}
			&.product-title{
				font-size: 3.2vw;
				line-height: 1.4;
			}
			&.product-price{
				font-size: 3vw;
			}
			&.text-large {
		    font-size: 4.7vw;
			}
			&.slightly-smaller{
				font-size: 3.5vw;
			}
		}
	}
	.profile-top{
		padding: 140px 0 0;
	}
	.profile-title{
		padding-left: 170px;
		.avatar{
			width: 150px;
			height: 150px;
			top: -2rem;
		}
		.job-title{
			p{
				font-size: 3vw;
			}
			h1{
				font-size: 5vw;
			}
		}
	}
	.footer-top{
		margin-top: 330px !important;
		.footer-overlap{
			margin-top: -810px;
		}
		&.mailing-list-footer{
			margin-top: 50px !important;
			.footer-overlap{
				margin-top: -540px;
			}
		}
	}
	.mob-shadow{
		@include menuBoxShadow();
	}
	.double-slant{
		clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
		-webkit-clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
	}
	.form-control{
		font-size: 16px;
	}
	.bg-fixed{
		background-attachment: initial;
	}
	.top-links{
		display: none;
	}
	.mob-overflow-hidden{
		overflow: hidden;
	}
	.home-top{
		p.text-large{
			font-size: 7vw;
			margin-top: 2rem !important;
			i{
				margin-right: 4.2vw;
			}
		}
	}
	.menu{
		.menu_logo{
			width: 35vw !important;
		}
		.menu-links{
			.menu-item{
				i{
					font-size: 8vw;
					margin-right: 40px;
				}
			}
		}
	}
	#main-menu-top{
		display: none;
	}
	#scroll-menu{
		.menu_logo{
			width: 35vw !important;
		}
	}
	.scroll-btn{
		left: 1rem;
	}
	.scroll-btn-wrap{
		left: 1rem;
	}
	.mob-bg-cover{
		background-size: cover !important;
	}
	.home-box{
		min-height: 165px;
	}
	.scroller{
		display: none;
	}
	.related-box .related-box-inner h4{
		font-size: 10vw;
		line-height: 10vw;
	}
	.short-height{
		height: 340px;
	}
	.tracking-in-contract {
	  -webkit-animation: tracking-in-contract-phone 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	  animation: tracking-in-contract-phone 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	}
	.animation-delay-1{
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		animation-delay: 0s;
	}
	.animation-delay-2{
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		animation-delay: 0s;
	}
	.animation-delay-3{
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		animation-delay: 0s;
	}
	.top-img{
		background-attachment: initial;
		max-width: 100vw;
		overflow: hidden;
	}
	.mob-p-0{
		padding: 0 !important;
	}
	.mob-p-3{
		padding: 1rem !important;
	}
	.mob-p-4{
		padding: 1.5rem !important;
	}
	.mob-pl-3{
		padding-left: 1rem !important;
	}
	.mob-px-0{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.mob-px-1{
		padding-left: 0.75rem !important;
		padding-right: 0.75rem !important;
	}
	.mob-px-3{
		padding-left: 1rem !important;
		padding-right: 1rem !important;
	}
	.mob-px-4{
		padding-left: 1.5rem !important;
		padding-right: 1.5rem !important;
	}
	.mob-px-5{
		padding-left: 3rem !important;
		padding-right: 3rem !important;
	}
	.mob-pr-1{
		padding-right: 1rem !important;
	}
	.mob-pr-3{
		padding-right: 1rem !important;
	}
	.mob-py-0{
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	.mob-py-1{
		padding-top: 0.35rem !important;
		padding-bottom: 0.35rem !important;
	}
	.mob-py-2{
		padding-top: 0.5rem !important;
		padding-bottom: 0.5rem !important;
	}
	.mob-py-3{
		padding-top: 1rem !important;
		padding-bottom: 1rem !important;
	}
	.mob-py-5{
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
	.mob-pb-0{
		padding-bottom: 0 !important;
	}
	.mob-pb-5{
		padding-bottom: 3rem !important;
	}
	.mob-pt-0{
		padding-top: 0 !important;
	}
	.mob-pt-3{
		padding-top: 1rem !important;
	}
	.mob-pt-4{
		padding-top: 1.5rem !important;
	}
	.mob-pt-5{
		padding-top: 3rem !important;
	}
	.mob-pb-3{
		padding-bottom: 1rem !important;
	}
	.mob-mx-auto{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.mob-mx-0{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mob-my-0{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.mob-my-4{
		margin-top: 2rem !important;
		margin-bottom: 2rem !important;
	}
	.mob-mb-0{
		margin-bottom: 0 !important;
	}
	.mob-mb-1{
		margin-bottom: 0.5rem !important;
	}
	.mob-mb-2{
		margin-bottom: 0.75rem !important;
	}
	.mob-mb-3{
		margin-bottom: 1rem !important;
	}
	.mob-mb-4{
		margin-bottom: 1.5rem !important;
	}
	.mob-mb-5{
		margin-bottom: 3rem !important;
	}
	.mob-mt-0{
		margin-top: 0 !important;
	}
	.mob-mt-2{
		margin-top: 0.5rem !important;
	}
	.mob-mt-3{
		margin-top: 1rem !important;
	}
	.mob-mt-4{
		margin-top: 2.3rem !important;
	}
	.mob-mt-5{
		margin-top: 3rem !important;
	}
	.mob-m-auto{
		margin: auto !important;
	}
	.mob-float-left{
		float: left !important;
	}
	.mob-float-none{
		float: none !important;
	}
	.mob-height-auto{
		height: auto !important;
	}
	.mob-btn-full{
		width: 100% !important;
		max-width: 100% !important;
	}
	.mob-text-center{
		text-align: center !important;
	}
	.btn-inline{
		max-width: 115px;
	}
	.btn{
		font-size: 3.5vw;
	}
	.line{
		&.mob-line-center{
			span{
				float: none !important;
				margin: auto !important;
			}
		}
	}

  .home-top-bg {
    position: absolute !important;
    top: -45vw;
    right: -105vw;
    width: 180vw;
    height: 210vw;
    z-index: 0;
    animation: none;
    svg{
    	// animation: none;
    }
	}
	.home-top-circle{
		width: 60%;
	}
	footer .footer-bg{
		width: 2790px !important;
	}
	.g-recaptcha {
	  margin-left: calc(50% - 117px);
	}
}