<style lang="scss">
  .search-form{
    margin-top: -50px;
  }
</style>
<template>
  <div id="product-search" class="container position-relative z-2">
    <div class="row half_row">
      <div class="col-lg-4 col-6 half_col mb-3">
        <div class="select-holder">
          <select id="category" class="form-control" v-model="fields.category" v-on:change="getProducts">
            <option value="*">Any Category</option>
            <option v-for="category in categories" :value="category.id">{{category.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-6 half_col mb-3">
        <div class="select-holder">
          <select id="category" class="form-control" v-model="fields.type" v-on:change="getProducts">
            <option value="*">Any Type</option>
            <option v-for="type in types" :value="type.id">{{type.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 half_col">
        <input id="title" v-model="fields.title" placeholder="Search by name" class="form-control" v-debounce:300ms="getProducts"/>
      </div>
    </div>
    <div class="row mt-5">
      <shop-show :products="products" :loadmore="loadmore" @loadmore="loadMore()"></shop-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    categories: Array,
    types: Array
  },
  data() {
    return {
      fields: {
        title: '',
        category: '*',
        type: '*'
      },
      errors: {},
      success: false,
      loaded: true,
      products: [],
      limit: 6,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getProducts();
  },
  methods: {
    loadMore(){
      this.page++;
      this.moreProducts();
    },
    moreProducts(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/shop/get?limit=' + this.limit + '&page=' + page + '&title=' + this.fields.title + '&category=' + this.fields.category + '&type=' + this.fields.type).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.products.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.jobs);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
    getProducts(page = 1) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/shop/get?limit=' + this.limit + '&page=' + page + '&title=' + this.fields.title + '&category=' + this.fields.category + '&type=' + this.fields.type).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.products = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
          // console.log(this.jobs);
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>
<style lang="scss">
#product-search input{
  box-shadow: none !important;
  border: 2px solid #1D3D8D;
  height: 54px;
}
</style>