<template>
	<div class="modal fade" id="quantityModal" tabindex="-1" role="dialog" aria-labelledby="quantityModalLabel" aria-hidden="true">
		<img src="/img/shapes/circle-light-blue.svg" class="circle-blue z-0" alt="Luce balooons blue circle"/>
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="container">
        	<div class="row justify-content-center">
        		<div class="col-lg-6">
        			<h3 class="text-primary">Update Quantity</h3>
        			<p class="text-dark"><b>Item:</b> {{qtyItem.options.product_title}} - {{qtyItem.name}}</p>
		          <input v-model="qty" class="form-control mb-2" type="number"/>
		          <a :href="'/shop/update-quantity/' + qtyItem.rowId + '/' + qty">
		          	<div class="btn btn-primary btn-icon">Update <i class="fa fa-shopping-cart"></i></div>
		          </a>
		          <p class="text-red mb-0 mt-2"><u @click="close" class="cursor-pointer">Close</u></p>
		        </div>
		      </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      qtyItem: Object,
    },
    mounted(){
    	$('#quantityModal').modal('show');
    	this.qty = this.qtyItem.qty;
    },
    data() {
	    return {
	    	qty: Number
	    }
	  },
	  methods:{
	  	close(){
	  		$('#quantityModal').modal('hide');
	  		this.$emit('close');
	  	}
	  }
  }
</script>
<style lang="scss">
	.modal-backdrop{
		z-index: 1 !important;
	}
	#quantityModal{
		input{
			max-width: 262px;
			margin: auto;
		}
		.circle-blue{
			position: absolute;
			width: 500px;
			height: 500px;
			top: calc(50% - 250px);
			left: calc(50% - 250px);
			z-index: 0;
			-webkit-animation-name: pulser;
			animation-iteration-count: infinite;
		 -webkit-animation-duration: 4s;
		 -webkit-animation-direction: alternate;
		 -webkit-animation-timing-function: ease-in-out;
		}
	}
</style>