<template>
	<div class="employee-card bg-white">
		<div class="card-top">
			<div class="avatar bg-white">
				<picture> 
				  <source :srcset="employee.pic.webp" type="image/webp"/> 
				  <source :srcset="employee.pic.normal" type="image/jpeg"/> 
				  <img :srcset="employee.pic.normal" type="image/jpeg" :alt="employee.job.title + ' - ' + employee.user.addresses[0].city"/>
				</picture>
			</div>
		</div>
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col-12 mb-0">
						<p class="text-small pb-0 mb-0"><v-icon small>mdi-map-marker"></v-icon> {{employee.user.addresses[0].city}}</p>
						<p class="job-title mb-0"><b>{{employee.job.title}}</b></p>
					</div>
					<div class="col-12 pb-0">
						<p class="text-small mb-0"><b>Role Exp:</b> {{employee.experience}}</p>
					</div>
					<div class="col-12 pb-0">
						<p class="text-small mb-0"><b>Exp Salary:</b> {{employee.expected_salary}}</p>
					</div>
					<div class="col-12 my-3">
						<v-btn color="primary" block @click="goToProfile()">View Profile</v-btn>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
  export default {
    props: {
      employee: Object,
    },
    methods: {
    	goToProfile(){
				window.location.href = "/find-employees/view/" + this.employee.id;
    	},
    	notificationModal(body, btntext, btnlink){
    		$('#notificationModal .modal-text').html(body);
    		$('#notificationModal .modal-btn').html(btntext);
    		$('#notificationModal .modal-btn-link').attr('href', btnlink);
    		$('#notificationModal').modal('show');
    	},
    	calculateAge(dob) { 
		    var diff_ms = Date.now() - dob.getTime();
		    var age_dt = new Date(diff_ms); 
		    var age = Math.abs(age_dt.getUTCFullYear() - 1970);
		    var range;
			  if(age >= 18 && age < 25){
			  	range = "18 - 24";
			  }
			  else if(age >= 25 && age < 30){
			  	range = "25 - 30";
			  }			    
			  else if(age >= 30 && age < 35){
			  	range = "30 - 35";
			  }				    	
			  else if(age >= 35 && age < 40){
			  	range = "35 - 40";
			  }
			  else if(age >= 40 && age < 45){
			  	range = "40 - 45";
			  }
			  else if(age >= 45 && age < 50){
			  	range = "45 - 50";
			  }			    
			  else if(age >= 55 && age < 60){
			  	range = "55 - 60";
			  }		    
			  else if(age >= 60 && age < 65){
					range = "60 - 65";
			  }
			  else if(age >= 65){
			  	range = "65+";
			  }else{
			  	range = "TBC"
			  }
				return range;
			},
			getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
        // return moment(date).format('Do MMM YYYY');
      },
    }
  }
</script>
<style lang="scss">
	.employee-card{
		color: #00004E !important;
		overflow: hidden;
		border-radius: 5px;
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(29, 61, 141, 0.2) !important;
		.card-top{
			background-color: #005ABB;
			color: #fff;
			height: 68px;
			padding-top: 18px;
			.avatar{
				position: absolute;
				left: 2rem;
				top: 1rem;
				border: 2px solid #005ABB;
				border-radius: 100%;
				overflow: hidden;
				text-align: center;
				width: 100px;
				height: 100px;
				img{
					width: 100%;
				}
			}
		}
		.card-body{
			padding: 0.5rem;
			margin-top: 55px;
		}
		p{
			color: #00004E !important;
			&.text-small{
				font-size: 0.9rem;
			}
			&.job-title{
				font-size: 5vw !important;
			}
		}
	}
</style>