<template>
	<v-card id="intro-box" class="rounded-lg mb-5 px-5 py-5">
		<h2 class="text-center mt-5">Read this before you get started!</h2>
		
		<v-expansion-panels flat  class="px-0 pb-5">
			<v-expansion-panel>
	      <v-expansion-panel-header class="mb-0 pb-0">
	      	<ul class="mb-0 pb-0">
						<li>Your programme has been designed to be completed in order.</li>
						<li>You have 2 different workouts to complete each week. Make sure you have a rest day in between these.</li>
					</ul>
				</v-expansion-panel-header>
	      <v-expansion-panel-content class="px-0">
	        <ul>
						<li>As a 3rd workout, you then choose either workout 1 or 2 to repeat on another day. For example, Day1 workout on Monday. Day2 workout on Wednesday and Day3 workout (repeat) on Friday. </li>
						<li>Try to follow the same format each week. This will help with structure as well as motivation to complete all workouts!</li>
						<li>Ensure you watch the ‘intro to the moves’ BEFORE you start your workout for that day. This covers the technique for each move before you start!</li>
						<li>Don’t skip a workout! The programme has been designed to be progressive in intensity and complexity. </li>
						<li>Don’t skip the warm up’s or cool downs! These are very important to avoid the risk of injuries!</li>
						<li>The programme as a whole will be based on RESISTANCE TRAINING which will include the use of a resistance band or bodyweight. Make sure you challenge yourself accordingly with both the resistance and the intensity at which you work at. This will then work on burning fat and building lean muscle (tone & shape).</li>
						<li>Alongside the workouts you will be completing your core work and power walking EVERYDAY.</li>
						<li>Power walking means walking for a minimum of 15 mins and that if you were walking with somebody you should be able to just about hold a conversation with them. The walking will keep you active on rest days and help with sore achy muscles!</li>
						<li>Core retraining programme. This is also to be completed EVERYDAY! </li>
						<li>For example on Week1 you have Week1 core. Aim to complete this EVERYDAY until you start Week2 (if following the above format this would be a Monday) Then you would complete Week2 core everyday until you start Week3. So on and so on.</li>
						<li>Throughout the whole course of the programme ensure you take the recovery periods. If you need more recovery, simply pause the workout until you are ready to start again.</li>
						<li>Stay hydrated! Ensure to keep drinking water throughout the workouts!</li>
						<li>Some people like to take before and after pictures! Feel free to share these on the platform! I feel that your clothes, pics, measurements and how you feel physically and mentally is a much better representative of your hard work than what a set of scales will tell you!</li>
					</ul>
					<p class="text-center mt-5 pt-5"><b>Most importantly, enjoy the programme. Invest in yourself and allow yourself to get fitter, stronger and more confident, both physically and mentally!</b></p>
					<p class="text-center mt-3 text-pink">Aimee X</p>
	      </v-expansion-panel-content>
	    </v-expansion-panel>
	  </v-expansion-panels>
	</v-card>
</template>
<style lang="scss">
	#intro-box{
		h2{
			color: #B9B4E5;
		}
		.v-expansion-panel-header{
			position: initial;
		}
		.v-expansion-panel-header__icon{
			  position: absolute;
		    bottom: -1.5rem;
		    left: 50%;
		    .v-icon{
		    	color:#FF00CC;
		    }
		}
		ul{
			list-style: none;
			li{
				line-height: 1.7;
				margin-bottom: 0.75rem;
				position: relative;
				font-size: 1rem;
				color: #331577;
				&:before{
					content: "";
					position: absolute;
			    left: -1.7rem;
			    top: 5px;
					width: 15px;
					height: 15px;
				  background-size: 15px 15px;
				  background-image: url("/img/icons/check.svg");
				  background-repeat: no-repeat;
				}
			}
		}
	}
	
</style>