<template>
	<div class="toggle-enqurie">
		<button type="button" class="btn btn-green w-100 btn-icon" v-if="!employee.enquired" @click="enquire"><i class="fa fa-angle-right"></i> Enquire</button>
    <button type="button" disabled class="btn btn-green w-100 btn-icon" v-else><i class="fa fa-check"></i> Enquired*</button>
	</div>
</template>
<script>
  export default {
    props: {
      employee: Object,
      user: Object,
    },
    watch:{
      employee: {
        deep: true,
      },
    },
    mounted(){
      console.log(this.employee.enquired);
    },
    updated(){
      console.log('updated ' + this.employee.enquired);
    },
    methods: {
    	notificationModal(body, btntext, btnlink){
    		$('#notificationModal .modal-text').html(body);
    		$('#notificationModal .modal-btn').html(btntext);
    		$('#notificationModal .modal-btn-link').attr('href', btnlink);
    		$('#notificationModal').modal('show');
    	},
    	enquire() {
    		if(this.user){
    			if(this.user.role_id == 2){
						axios.get('/employees/enquire/'+this.employee.id).then(response => {
              var modalbody = 'This candidate has been added to your enquiries, to review your enquiries please visit your employer dashboard.';
              var btntext = 'Employer Dashboard';
              var btnlink = '/employers/dashboard';
              this.notificationModal(modalbody, btntext, btnlink);
              this.$emit('enquiryComplete');
			      })
			      .catch(error => {
			        // Error handling
			        console.log(error);
			      });
    			}else{
    				var modalbody = 'You must have an employer account to enquire about a candidate. Contact us for more information.';
    				var btntext = 'Contact Us';
    				var btnlink = '/contact';
    				this.notificationModal(modalbody, btntext, btnlink);
    			}
    			
    		}else{
  				var modalbody = 'Please log in or sign up to enquire about a candidate.';
  				var btntext = 'Login / Signup';
  				var btnlink = '/login';
  				this.notificationModal(modalbody, btntext, btnlink);
    		}
	    }
    }
  }
</script>