<template>
	<div class="toggle-favourite">
		<div v-if="type == 'white-text'">
			<p class="text-small text-white text-lg-right" v-if="favorited"><span class="cursor-pointer" @click="unlike">Favourite <i class="fa fa-star ml-2"></i></span></p>
			<p class="text-small text-white text-lg-right" v-else><span class="cursor-pointer" @click="like"><span class="hover-underline hover-underline-white">Add to favourites</span> <i class="fa fa-star-o ml-2"></i></span></p>
		</div>
		<div v-else-if="type == 'btn-primary'">
			<button type="button" class="btn btn-primary btn-icon" v-if="favorited" @click="unlike"><i class="fa fa-star"></i> Favourite</button>
			<button type="button" class="btn btn-primary btn-icon" v-else @click="like"><i class="fa fa-star-o"></i> Add to favourites</button>
		</div>
	</div>
</template>
<script>
  export default {
    props: {
    	type: String,
      employee: Object,
      user: Object,
      refresh: Boolean,
    },
    data() {
	    return {
	      favorited: this.employee.fav,
	    };
	  },
    methods: {
    	notificationModal(body, btntext, btnlink){
    		$('#notificationModal .modal-text').html(body);
    		$('#notificationModal .modal-btn').html(btntext);
    		$('#notificationModal .modal-btn-link').attr('href', btnlink);
    		$('#notificationModal').modal('show');
    	},
    	like() {
    		if(this.user){
    			if(this.user.role_id == 2){
						axios.get('/employees/favourite/'+this.employee.id).then(response => {
			        this.favorited = !this.favorited;
			        if(this.refresh == true){
			        	location.reload();
			        }
			      })
			      .catch(error => {
			        // Error handling
			        console.log(error);
			      });
    			}else{
    				var modalbody = 'You must have an employer account to add candidates to your favourites. Contact us for more information.';
    				var btntext = 'Contact Us';
    				var btnlink = '/contact';
    				this.notificationModal(modalbody, btntext, btnlink);
    			}
    			
    		}else{
  				var modalbody = 'Please log in or sign up to add candidates to your favourites.';
  				var btntext = 'Login / Signup';
  				var btnlink = '/login';
  				this.notificationModal(modalbody, btntext, btnlink);
    		}
	    },
	    unlike() {
	      axios.get('/employees/unfavourite/'+this.employee.id).then(response => {
	        this.favorited = !this.favorited;
	        if(this.refresh == true){
	        	location.reload();
	        }
	      })
	      .catch(error => {
	        // Error handling
	        console.log(error);
	      });
	    },
    }
  }
</script>