<template>
	<div class="container mt-4 mob-px-4 position-relative z-2">
	  <div class="row py-4">
	    <div class="col-lg-8 blog-body pr-5 mob-px-3">
	    	<div v-html="emp.description"></div>
	    	<div class="row half_row mt-4">
	    		<div class="col-6 col-lg-4 half_col">
	          <employee-enquire :user="user"@enquiryComplete="enquiryComplete" v-if="!emp.enquired" :employee.sync="emp"></employee-enquire>
	          <button type="button" disabled class="btn btn-green btn-icon" v-else> Enquired* <i class="fa fa-check"></i></button>
	    		</div>
	    		<div class="col-6 col-lg-4 half_col">
	    			<employee-toggle-favourite :employee="emp" :user="user" type="btn-primary" :refresh="true"></employee-toggle-favourite>
	    		</div>
	        <div class="col-12 mt-2" v-if="emp.enquired">
	          <p class="text-small text-light mb-0">* To manage your enquiries visit your <a href="/employers/dashboard" target="_blank"><u>Employer Dashboard</u></a>.</p>
	        </div>
	    	</div>
	    </div>
	    <div class="col-lg-4 mob-mt-5">
	    	<employee-summary :user="user" @enquiryComplete="enquiryComplete" :employee.sync="emp"></employee-summary>
	      <p v-if="emp.enquired" class="text-small text-light mb-0 mt-2">* To manage your enquiries visit your <a href="/employers/dashboard" target="_blank"><u>Employer Dashboard</u></a>.</p>
	    </div>
	  </div>
	  <div class="row">
	  	<employee-similar :employee="emp" :user="user"></employee-similar>
	  </div>
	</div>
</template>
<script>
  export default {
    props: {
      employee: Object,
      user: Object,
    },
    watch:{
    	emp: {
		    deep: true,
		  }
    },
    data() {
	    return {
	    	emp: this.employee,
	    };
	  },
    methods: {
    	enquiryComplete(){
    		console.log(this.emp.enquired + ' not emitted');
    		this.emp.enquired = true;	
    		console.log(this.emp.enquired + ' emitted');
    	}
    }
  }
</script>