<template>
  <div id="employee-search" class="container-fluid container-wide">
    <div class="row half_row justify-content-center">
      <div class="col-lg-4 col-6 half_col mb-3">
        <div class="select-holder">
          <select class="form-control" name="profession" v-model="fields.profession" @change="getEmployees">
            <option value="*">Any Profession</option>
            <option v-for="job in jobs" :value="job.slug">{{job.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-6 half_col mb-3">
        <div class="select-holder">
          <select class="form-control" name="profession" v-model="fields.salary" @change="getEmployees">
            <option value="*">Any Salary Range</option>
            <option value="£15,000 - £20,000">£15,000 - £20,000</option>
            <option value="£20,000 - £25,000">£20,000 - £25,000</option>
            <option value="£25,000 - £30,000">£25,000 - £30,000</option>
            <option value="£30,000 - £35,000">£30,000 - £35,000</option>
            <option value="£35,000 - £40,000">£35,000 - £40,000</option>
            <option value="£40,000 - £50,000">£40,000 - £50,000</option>
            <option value="£50,000 - £60,000">£50,000 - £60,000</option>
            <option value="£60,000 - £70,000">£60,000 - £70,000</option>
            <option value="£70,000 - £80,000">£70,000 - £80,000</option>
            <option value="£80,000 - £90,000">£80,000 - £90,000</option>
            <option value="£100,000+">£100,000+</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 half_col mb-3">
        <input id="location" v-model="fields.location" placeholder="Search by location..." class="form-control border-rounded" v-debounce:300ms="getEmployees"/>
      </div>
      <div class="col-12 text-left text-lg-right">
        <p class="mb-0 mt-2 text-grey text-small"><span class="cursor-pointer" @click="resetSearch()"><i class="fa fa-refresh"></i> Reset search</span></p>
      </div>
    </div>
    <div class="row mt-4">
      <employees-show :employees="employees" :user="user" :loadmore="loadmore" @loadmore="loadMore()"></employees-show>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    user: Object,
    amount: Number,
    loadmorebool: Boolean,
  },
  data() {
    return {
      fields: {
        salary: '*',
        profession: '*',
        location: ''
      },
      jobs:{},
      errors: {},
      success: false,
      loaded: true,
      employees: [],
      limit: this.amount,
      page: 1,
      loadmore: this.loadmorebool,
    }
  },
  mounted(){
    this.getJobs();
  },
  methods: {
    resetSearch(){
      this.fields.salary = '*';
      this.fields.profession = '*';
      this.fields.location = '';
      this.getJobs();
    },
    loadMore(){
      this.page++;
      this.moreEmployees();
    },
    getJobs(){
      axios.get('/jobs/get').then(response => {
        this.jobs = response.data;
        this.getEmployees();
      })
      .catch(error => {
        // Error handling
        this.loaded = true;
        console.log(error);
      });
    },
    moreEmployees(page = this.page) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;

        axios.get('/employees/get?limit=' + this.limit + '&page=' + page + '&profession=' + this.fields.profession + '&location=' + this.fields.location + '&salary=' + this.fields.salary).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          var app = this;
          response.data.data.forEach(function(element){
            app.employees.push(element);
          });
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
    getEmployees(page = 1) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.page = 1;
        axios.get('/employees/get?limit=' + this.limit + '&page=' + page + '&profession=' + this.fields.profession + '&location=' + this.fields.location + '&salary=' + this.fields.salary).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.employees = response.data.data;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  #employee-search{
    select{
      font-size:12px;
    }
  }
</style>