<template>
  <div class="container pt-3 pb-5">
    <div class="row pb-5 mob-py-0" v-if="employees.length > 0">
      <div class="col-lg-4 col-md-6 mb-4 mob-mb-4" v-for="employee in employees">
        <employee-card :employee="employee" :user="user"></employee-card>
      </div>
      <div class="col-12 mt-5 text-center" v-if="loadmore == true">
        <div class="btn btn-green btn-icon" @click="$emit('loadmore', true);">Load More <i class="fa fa-plus"></i></div>
      </div>
    </div>
    <div class="row justify-content-center py-5 mb-5" v-else>
      <div class="col-lg-8 col-md-8 text-center">
        <h3 class="mb-4">Sorry, no employees found.</h3>
        <p class="mb-4">We are currently in the substantial process of enlisting candidates in order to maximise and add value to your search. Your cooperation and patience is greatly appreciated and wont go unnoticed.</p>
        <p class="mb-4">If your current search is limited, don’t hesitate to <a href="/contact">contact us</a> directly.</p>
        <a href="/contact">
          <button type="button" class="btn btn-primary btn-icon">Contact us <i class="fa fa-envelope"></i></button>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      employees: Array,
      user: Object,
      loadmore: Boolean
    },
    methods: {

    }
  }
</script>