<template>
  <div class="container-fluid mt-5">
    <div class="row" v-if="employees.length">
    	<div class="col-12">
    		<h2 class="mb-4">Similar Candidates</h2>
    	</div>
      <employees-show :employees="employees" :user="user"></employees-show>
    </div>
  </div>
</template>
<script>
export default {
  props: {
  	user: Object,
    employee: Object,
  },
  data() {
    return {
      fields: {
        salary: '*',
        profession: '*',
        location: ''
      },
      jobs:{},
      errors: {},
      success: false,
      loaded: true,
      employees: [],
      limit: 6,
      page: 1,
      loadmore: true,
    }
  },
  mounted(){
    this.getEmployees();
  },
  methods: {
    getEmployees(page = 1) {
      if (this.loaded) {

        this.loaded = false;
        this.success = false;
        this.errors = {};
        this.offset = 0;
        this.page = 1;
        axios.get('/employees/similar/' + this.employee.id).then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.success = true;
          this.employees = response.data.data;
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
        });
      }
    },
  },
}
</script>