<template>
	<div class="summmary-card card bg-light border-0 shadow p-4">
		<h5 class="mb-3">Summary</h5>
		<p class="text-small"><b>Location:</b> {{employee.user.addresses[0].city}}</p>
		<p class="text-small"><b>Expected Salary:</b> {{employee.expected_salary}}</p>
		<p class="text-small"><b>Working Pattern:</b> {{employee.working_pattern}}</p>
		<p class="text-small"><span v-if="!employee.growpro"><b>Role Experience:</b> {{employee.experience}}</span> <span v-if="employee.growpro" class="text-green"> <img src="/img/logos/growpro.svg" alt="GrowPro Candidate" width="80" height="30"/></span></p>
		<employee-enquire :user="user" @enquiryComplete="enquiryComplete" :employee.sync="employee"></employee-enquire>
	</div>
</template>
<script>
  export default {
    props: {
      employee: Object,
      user: Object,
    },
    watch:{
    	employee: {
        deep: true,
      },
    },
    methods: {
    	enquiryComplete(){
    		this.$emit('enquiryComplete')
    	},
    	calculateAge(dob) { 
		    var diff_ms = Date.now() - dob.getTime();
		    var age_dt = new Date(diff_ms); 
		    var age = Math.abs(age_dt.getUTCFullYear() - 1970);
		    var range;
			  if(age >= 18 && age < 25){
			  	range = "18 - 24";
			  }
			  else if(age >= 25 && age < 30){
			  	range = "25 - 30";
			  }			    
			  else if(age >= 30 && age < 35){
			  	range = "30 - 35";
			  }				    	
			  else if(age >= 35 && age < 40){
			  	range = "35 - 40";
			  }
			  else if(age >= 40 && age < 45){
			  	range = "40 - 45";
			  }
			  else if(age >= 45 && age < 50){
			  	range = "45 - 50";
			  }			    
			  else if(age >= 55 && age < 60){
			  	range = "55 - 60";
			  }		    
			  else if(age >= 60 && age < 65){
					range = "60 - 65";
			  }
			  else if(age >= 65){
			  	range = "65+";
			  }else{
			  	range = "TBC"
			  }
				return range;
			},
			getExtension(d){
        if (d > 3 && d < 21) return 'th';
        switch (d % 10) {
          case 1:  return "st";
          case 2:  return "nd";
          case 3:  return "rd";
          default: return "th";
        }
      },
      moment: function (date) {
        var newdate = new Date(date);
        var thedate = newdate.getDate();
        var extension = this.getExtension(thedate);
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        return newdate.getFullYear() + '-' + (newdate.getMonth() + 1).toString().padStart(2, '0') + '-' + thedate.toString().padStart(2, '0');
      },
    }
  }
</script>